<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>declarativeQueryInset</key>
	<string>storeAlongVisitor</string>
	<key>eagerReferenceInterval</key>
	<string>nibWorkBorder</string>
	<key>hashLikeWork</key>
	<string>playbackAlongObserver</string>
	<key>layoutChainBrightness</key>
	<string>queueParameterPadding</string>
	<key>oldRowDirection</key>
	<string>numericalTextureIndex</string>
	<key>sliderAtBuffer</key>
	<string>multiPositionedBottom</string>
</dict>
</plist>
