<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisStyleHue</key>
	<string>stepFrameworkVisible</string>
	<key>customResourceScale</key>
	<string>mediaqueryActionHue</string>
	<key>durationSinceChain</key>
	<string>grainWithParameter</string>
	<key>expandedMediatorTint</key>
	<string>denseCollectionStatus</string>
	<key>listviewContainBridge</key>
	<string>brushScopeDepth</string>
	<key>prevServiceColor</key>
	<string>providerTypeHue</string>
	<key>timerMementoBottom</key>
	<string>autoGateType</string>
</dict>
</plist>
