<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitLikeVar</key>
	<string>advancedOverlayOrigin</string>
	<key>listenerAmongObserver</key>
	<string>reductionPrototypeVisible</string>
	<key>localizationOrVar</key>
	<string>viewPlatformDepth</string>
	<key>relationalInjectionVisibility</key>
	<string>mobxWorkOrigin</string>
	<key>storeOperationPadding</key>
	<string>labelPerBuffer</string>
</dict>
</plist>
