<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFlyweightInterval</key>
	<string>managerScopeState</string>
	<key>blocContextTint</key>
	<string>controllerInContext</string>
	<key>cellMementoPressure</key>
	<string>declarativeRadioKind</string>
	<key>diffableRouteMargin</key>
	<string>popupNumberAcceleration</string>
	<key>geometricGridState</key>
	<string>modelCommandDuration</string>
	<key>hardPopupStatus</key>
	<string>plateOfStyle</string>
	<key>mainPromiseInset</key>
	<string>greatTopicMode</string>
	<key>otherRoleBehavior</key>
	<string>skinAroundLayer</string>
	<key>popupActivityContrast</key>
	<string>activeGraphDirection</string>
	<key>radioActionPadding</key>
	<string>cubeByInterpreter</string>
</dict>
</plist>
