<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionInsideCycle</key>
	<string>graphInsideStage</string>
	<key>normalStateVisibility</key>
	<string>radiusPrototypeMomentum</string>
	<key>priorObserverName</key>
	<string>effectFormTheme</string>
	<key>progressbarThanStructure</key>
	<string>routeVisitorTail</string>
	<key>subtleDescriptionType</key>
	<string>featureBesideActivity</string>
	<key>threadBesideBridge</key>
	<string>flexibleEffectFormat</string>
	<key>transitionThroughPlatform</key>
	<string>permanentProviderStatus</string>
	<key>variantUntilPhase</key>
	<string>nextSensorSkewy</string>
	<key>visibleRouterInterval</key>
	<string>graphicViaMediator</string>
</dict>
</plist>
