<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNearPattern</key>
	<string>arithmeticReducerTop</string>
	<key>equipmentFunctionRight</key>
	<string>spineVersusObserver</string>
	<key>euclideanCycleFlags</key>
	<string>materialSineResponse</string>
</dict>
</plist>
