<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTransformerLocation</key>
	<string>associatedObserverInterval</string>
	<key>animationContainTier</key>
	<string>injectionDecoratorPressure</string>
	<key>draggableStatefulEdge</key>
	<string>effectDecoratorScale</string>
	<key>enabledLabelDirection</key>
	<string>asyncMenuPadding</string>
	<key>framePerJob</key>
	<string>subpixelAboutObserver</string>
	<key>mobileReferenceBound</key>
	<string>tableModeDistance</string>
	<key>projectMediatorSpeed</key>
	<string>channelFrameworkBottom</string>
	<key>skinVisitorAcceleration</key>
	<string>entropyLikeTask</string>
	<key>staticHandlerValidation</key>
	<string>sensorAtForm</string>
</dict>
</plist>
