<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalMarginLocation</key>
	<string>logMethodResponse</string>
	<key>directMenuDensity</key>
	<string>serviceAsMediator</string>
	<key>oldEquipmentOrigin</key>
	<string>significantLoopRight</string>
	<key>painterMementoTension</key>
	<string>customizedColumnInset</string>
	<key>scaffoldVarHue</key>
	<string>commonIconSize</string>
	<key>sliderAsNumber</key>
	<string>resilientSpecifierVisible</string>
</dict>
</plist>
