<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOrMethod</key>
	<string>respectiveContainerShade</string>
	<key>chartLayerVisibility</key>
	<string>gestureJobSkewy</string>
	<key>curveActivityContrast</key>
	<string>timerPatternFrequency</string>
	<key>navigatorModeCount</key>
	<string>dynamicAspectratioName</string>
	<key>sizeTempleShape</key>
	<string>routerFromWork</string>
</dict>
</plist>
