<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetBufferDistance</key>
	<string>granularSpriteStatus</string>
	<key>concreteChannelsSpacing</key>
	<string>mediumResultRate</string>
	<key>eagerResponseOffset</key>
	<string>techniqueViaPlatform</string>
	<key>pivotalAnimatedcontainerOrientation</key>
	<string>rowFromContext</string>
	<key>routeBridgeLeft</key>
	<string>transformerAgainstStage</string>
</dict>
</plist>
