<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsFunctionStyle</key>
	<string>responsiveAwaitVelocity</string>
	<key>handlerBufferTension</key>
	<string>primaryParticleKind</string>
	<key>instructionBesideTemple</key>
	<string>matrixAwayMemento</string>
	<key>mainGradientScale</key>
	<string>textDespiteLayer</string>
	<key>offsetBesideDecorator</key>
	<string>fixedResponseTop</string>
	<key>resizableMonsterTransparency</key>
	<string>persistentLogarithmPadding</string>
	<key>semanticBorderTension</key>
	<string>routeParamRate</string>
	<key>storageAlongFramework</key>
	<string>activatedDescriptionSkewy</string>
	<key>vectorActionDistance</key>
	<string>clipperViaVar</string>
</dict>
</plist>
