<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsInState</key>
	<string>cartesianStoreFlags</string>
	<key>mediocreDocumentBottom</key>
	<string>hardBufferTheme</string>
	<key>responseDespiteType</key>
	<string>skirtAlongSystem</string>
	<key>retainedRadiusPadding</key>
	<string>tableInForm</string>
	<key>sinkUntilAdapter</key>
	<string>graphicBesideFlyweight</string>
</dict>
</plist>
