<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseBesideWork</key>
	<string>heroParamContrast</string>
	<key>controllerMethodLocation</key>
	<string>iterativeDelegateInteraction</string>
	<key>mediaForMode</key>
	<string>dedicatedProtocolOrientation</string>
	<key>referenceIncludeScope</key>
	<string>slashThroughLayer</string>
	<key>semanticsBesideDecorator</key>
	<string>otherProviderBrightness</string>
	<key>tangentContextDuration</key>
	<string>constraintEnvironmentHead</string>
</dict>
</plist>
