<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resizableResourceSkewy</key>
	<string>eventMethodOrientation</string>
	<key>sensorSinceMethod</key>
	<string>reducerDuringFramework</string>
	<key>symbolKindBehavior</key>
	<string>topicFrameworkOrigin</string>
</dict>
</plist>
