<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedStreamFormat</key>
	<string>euclideanListenerDistance</string>
	<key>agileTextPadding</key>
	<string>featureDuringWork</string>
	<key>comprehensiveScreenDepth</key>
	<string>curvePrototypeBorder</string>
	<key>convolutionScopeScale</key>
	<string>cubitPhaseBound</string>
	<key>hierarchicalSceneSaturation</key>
	<string>awaitActionDirection</string>
	<key>notifierAdapterDuration</key>
	<string>smartAnimatedcontainerPosition</string>
	<key>permissiveGraphColor</key>
	<string>exceptionAroundFlyweight</string>
	<key>swiftNearTask</key>
	<string>builderWithoutState</string>
	<key>symmetricFrameVisible</key>
	<string>paddingPrototypeCoord</string>
	<key>textfieldChainAppearance</key>
	<string>factorySincePattern</string>
</dict>
</plist>
