<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFrameworkTension</key>
	<string>gridVisitorMomentum</string>
	<key>apertureAtFacade</key>
	<string>alignmentDespiteMediator</string>
	<key>permissivePresenterColor</key>
	<string>uniformZoneSkewx</string>
	<key>tableInParam</key>
	<string>serviceKindOffset</string>
</dict>
</plist>
