<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAdapterTop</key>
	<string>vectorVisitorEdge</string>
	<key>exceptionStrategyBound</key>
	<string>certificateEnvironmentMargin</string>
	<key>logarithmPatternTail</key>
	<string>hashContainCommand</string>
	<key>marginCycleDuration</key>
	<string>dependencyOperationVisibility</string>
	<key>pivotalCursorTension</key>
	<string>expandedVersusTemple</string>
</dict>
</plist>
