<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackWithFramework</key>
	<string>storyboardMementoPressure</string>
	<key>comprehensiveDecorationInterval</key>
	<string>dedicatedMovementDensity</string>
	<key>invisibleRadiusFormat</key>
	<string>independentAnimationColor</string>
	<key>lastOperationColor</key>
	<string>asyncControllerIndex</string>
	<key>marginSinceShape</key>
	<string>entityBeyondCycle</string>
	<key>previewActivitySpacing</key>
	<string>animationStyleSkewy</string>
	<key>protectedClipperRotation</key>
	<string>rowTierInset</string>
	<key>requestStateFlags</key>
	<string>cubitActivityAlignment</string>
	<key>robustContainerVisibility</key>
	<string>grayscaleThanVariable</string>
</dict>
</plist>
