<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedGrainDuration</key>
	<string>disabledResourceBehavior</string>
	<key>eventValueResponse</key>
	<string>entityAtProcess</string>
	<key>localBoxshadowSaturation</key>
	<string>backwardRemainderMode</string>
	<key>metadataVisitorRate</key>
	<string>lastAspectratioStyle</string>
	<key>mobileAppbarSpeed</key>
	<string>entityOfStage</string>
	<key>respectiveSignatureCenter</key>
	<string>materialTextType</string>
	<key>screenTaskSkewy</key>
	<string>parallelScrollAppearance</string>
	<key>storeVarFeedback</key>
	<string>characterTempleKind</string>
	<key>uniqueReferenceAppearance</key>
	<string>exceptionCycleTransparency</string>
</dict>
</plist>
