<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAsProcess</key>
	<string>rectKindRight</string>
	<key>lostMenuSpacing</key>
	<string>enabledNotifierSkewx</string>
	<key>mediaqueryDuringMediator</key>
	<string>topicStateVelocity</string>
	<key>offsetPhaseTint</key>
	<string>vectorInStyle</string>
	<key>signFacadeResponse</key>
	<string>checkboxFunctionAlignment</string>
	<key>storageTierScale</key>
	<string>declarativeAnimationTransparency</string>
	<key>usecasePerVariable</key>
	<string>signatureParamSpeed</string>
</dict>
</plist>
