<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorVersusInterpreter</key>
	<string>iterativeNavigationHead</string>
	<key>dropdownbuttonIncludeKind</key>
	<string>synchronousObserverMode</string>
	<key>fragmentExceptContext</key>
	<string>musicPerPhase</string>
	<key>layerUntilCommand</key>
	<string>providerAsPattern</string>
	<key>navigatorProxyVelocity</key>
	<string>queueVersusMethod</string>
	<key>nextCompositionBorder</key>
	<string>responseBufferPressure</string>
	<key>singletonDespiteWork</key>
	<string>queueAlongTemple</string>
	<key>sinkModeVelocity</key>
	<string>spotDecoratorBehavior</string>
</dict>
</plist>
