<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTopicFlags</key>
	<string>convolutionFacadeScale</string>
	<key>factoryScopeCoord</key>
	<string>immutableViewTheme</string>
	<key>injectionOrType</key>
	<string>remainderSystemSpeed</string>
	<key>interactorAtNumber</key>
	<string>secondOperationKind</string>
	<key>intermediateTweenVisibility</key>
	<string>numericalCubitKind</string>
	<key>otherCubitInteraction</key>
	<string>consultativeVariantColor</string>
	<key>stampCompositeContrast</key>
	<string>lossModeSpeed</string>
	<key>stampDuringAdapter</key>
	<string>difficultTaskType</string>
	<key>subtleObserverStyle</key>
	<string>spriteChainSkewx</string>
</dict>
</plist>
