<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActionInterval</key>
	<string>exponentAmongVar</string>
	<key>arithmeticScopeHead</key>
	<string>materialFutureCenter</string>
	<key>bitrateNumberDuration</key>
	<string>completionViaOperation</string>
	<key>mainAllocatorDirection</key>
	<string>currentControllerTail</string>
	<key>richtextWithProcess</key>
	<string>clipperPatternCoord</string>
</dict>
</plist>
