<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentGrainRate</key>
	<string>custompaintJobVisibility</string>
	<key>greatResponseOrigin</key>
	<string>sustainableTextureBorder</string>
	<key>monsterProxyCenter</key>
	<string>roleContainPhase</string>
	<key>permissiveChapterBehavior</key>
	<string>sophisticatedStreamHue</string>
	<key>subtleEffectTransparency</key>
	<string>webSpriteSpacing</string>
</dict>
</plist>
