<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedInterfaceState</key>
	<string>vectorStyleFlags</string>
	<key>completerProxyShape</key>
	<string>exceptionOrTemple</string>
	<key>comprehensivePriorityName</key>
	<string>cubeProcessVisible</string>
	<key>histogramMethodCenter</key>
	<string>rowOrMethod</string>
	<key>mediumCharacterStyle</key>
	<string>otherQueryType</string>
	<key>permanentStreamSize</key>
	<string>columnFrameworkType</string>
</dict>
</plist>
