<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerOrLayer</key>
	<string>presenterProxyCount</string>
	<key>awaitFunctionShape</key>
	<string>durationNumberDensity</string>
	<key>backwardInjectionInset</key>
	<string>imageAndState</string>
	<key>drawerByEnvironment</key>
	<string>blocLevelShade</string>
	<key>localConvolutionDelay</key>
	<string>interactiveInkwellColor</string>
	<key>rectStrategyShade</key>
	<string>streamPatternMode</string>
	<key>switchIncludePlatform</key>
	<string>temporaryRouterShade</string>
	<key>typicalBuilderLeft</key>
	<string>unactivatedMemberRotation</string>
</dict>
</plist>
