<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleFactoryTheme</key>
	<string>descriptorAwayMode</string>
	<key>builderInAction</key>
	<string>animationMethodResponse</string>
	<key>hierarchicalResolverSaturation</key>
	<string>streamAboutEnvironment</string>
	<key>riverpodTypeDistance</key>
	<string>persistentAssetScale</string>
	<key>stackSinceFunction</key>
	<string>smallAlertCenter</string>
</dict>
</plist>
