<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticQueueTop</key>
	<string>graphIncludeFacade</string>
	<key>checklistSystemOrigin</key>
	<string>viewParamContrast</string>
	<key>compositionalChecklistForce</key>
	<string>reductionProcessStyle</string>
	<key>cupertinoByTemple</key>
	<string>invisibleOffsetBehavior</string>
	<key>delicateChallengeIndex</key>
	<string>gridviewKindSkewy</string>
	<key>richtextPatternOpacity</key>
	<string>textureThroughState</string>
	<key>statefulBrushInteraction</key>
	<string>fusedResourceTop</string>
	<key>subpixelFrameworkFeedback</key>
	<string>gridviewAndTemple</string>
	<key>timerProcessState</key>
	<string>rectLevelKind</string>
	<key>unactivatedClipperRight</key>
	<string>displayableZoneScale</string>
</dict>
</plist>
