<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncLayerTheme</key>
	<string>numericalDrawerBottom</string>
	<key>builderBeyondTemple</key>
	<string>commandCyclePadding</string>
	<key>factoryAwayPattern</key>
	<string>constraintTaskSpeed</string>
	<key>geometricCoordinatorMode</key>
	<string>hierarchicalChallengeCount</string>
	<key>intensityAlongVariable</key>
	<string>taskNearValue</string>
	<key>loopDecoratorFeedback</key>
	<string>sceneWithPhase</string>
	<key>lossFacadeOrigin</key>
	<string>unsortedQueryPadding</string>
	<key>lossStrategyValidation</key>
	<string>taskVariableVelocity</string>
	<key>rapidGradientVelocity</key>
	<string>menuTaskTheme</string>
</dict>
</plist>
