<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoCaptionSkewx</key>
	<string>blocViaTier</string>
	<key>invisibleStackRate</key>
	<string>sizedboxMediatorRotation</string>
	<key>isolateMementoStatus</key>
	<string>responseDespiteNumber</string>
	<key>requiredPriorityBrightness</key>
	<string>alignmentInsideParameter</string>
	<key>similarListenerTension</key>
	<string>cubeVisitorFeedback</string>
	<key>streamFromVar</key>
	<string>statefulLikeScope</string>
</dict>
</plist>
