<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeSizeTheme</key>
	<string>staticSegueSkewy</string>
	<key>finalBlocMode</key>
	<string>sizedboxWithoutStage</string>
	<key>mutableContainerInterval</key>
	<string>curveBesideParameter</string>
	<key>referenceSystemVisible</key>
	<string>mediaModePressure</string>
	<key>retainedQueryOffset</key>
	<string>normFormOrientation</string>
	<key>sortedCanvasVisibility</key>
	<string>cardSystemTop</string>
</dict>
</plist>
