<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleToolTension</key>
	<string>axisVersusVisitor</string>
	<key>challengeMediatorSkewx</key>
	<string>imperativeLoopSpacing</string>
	<key>graphicTierStatus</key>
	<string>switchTempleDelay</string>
	<key>isolateActivityEdge</key>
	<string>uniqueDependencyLeft</string>
	<key>labelDespiteValue</key>
	<string>commonExceptionTail</string>
	<key>layerLikeSystem</key>
	<string>sliderMediatorTag</string>
	<key>multiplicationActivityStyle</key>
	<string>remainderStageDistance</string>
	<key>viewAsFramework</key>
	<string>arithmeticExtensionDistance</string>
	<key>webMarginPressure</key>
	<string>materialRowStyle</string>
</dict>
</plist>
