<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedLoopStyle</key>
	<string>hierarchicalLabelResponse</string>
	<key>compositionalMatrixSaturation</key>
	<string>displayableErrorPressure</string>
	<key>grayscaleNumberDirection</key>
	<string>columnTypeSpacing</string>
	<key>heapAsSingleton</key>
	<string>axisCommandHead</string>
	<key>imperativeSpriteInterval</key>
	<string>granularLabelVelocity</string>
	<key>listenerIncludeMediator</key>
	<string>customQueueAlignment</string>
</dict>
</plist>
