<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutParamDirection</key>
	<string>fragmentCycleType</string>
	<key>protocolOrInterpreter</key>
	<string>opaqueTitleRight</string>
	<key>repositoryBeyondAction</key>
	<string>segmentAtWork</string>
	<key>tweenAdapterAppearance</key>
	<string>equalizationSystemInset</string>
	<key>utilOfSystem</key>
	<string>cubitTierInterval</string>
</dict>
</plist>
