<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDecoratorSize</key>
	<string>routerOfComposite</string>
	<key>builderCycleLocation</key>
	<string>imageTierDepth</string>
	<key>displayableButtonVisibility</key>
	<string>symmetricResolverFormat</string>
	<key>mediaExceptMediator</key>
	<string>instructionEnvironmentTension</string>
	<key>normalControllerInset</key>
	<string>musicWithoutValue</string>
	<key>taskNumberForce</key>
	<string>standaloneSinkAlignment</string>
</dict>
</plist>
