<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBufferColor</key>
	<string>requiredObserverState</string>
	<key>previewTempleOrigin</key>
	<string>integerWithoutMemento</string>
	<key>sinkPlatformFeedback</key>
	<string>chartForObserver</string>
	<key>themeFromContext</key>
	<string>denseInteractorIndex</string>
	<key>uniformRiverpodLocation</key>
	<string>observerFormFrequency</string>
</dict>
</plist>
