<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentOfSingleton</key>
	<string>intuitiveAllocatorColor</string>
	<key>flexibleResponseTension</key>
	<string>matrixPlatformDensity</string>
	<key>grayscaleOrLayer</key>
	<string>channelDecoratorPosition</string>
	<key>hierarchicalSymbolMode</key>
	<string>responseBeyondProxy</string>
	<key>observerNearTier</key>
	<string>fixedNotificationFeedback</string>
	<key>subtleStreamTag</key>
	<string>handlerParamInteraction</string>
	<key>unaryAlongChain</key>
	<string>requestProxyTheme</string>
	<key>vectorActivityBorder</key>
	<string>modalSinceFramework</string>
</dict>
</plist>
