<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customVectorSaturation</key>
	<string>routeThanPlatform</string>
	<key>featureOrProcess</key>
	<string>serviceIncludeKind</string>
	<key>graphInTask</key>
	<string>eventVersusShape</string>
	<key>imageObserverMomentum</key>
	<string>aspectratioCompositeInterval</string>
	<key>logCycleBehavior</key>
	<string>cardWorkResponse</string>
	<key>promiseByJob</key>
	<string>themeScopePadding</string>
	<key>subsequentViewHead</key>
	<string>enabledRiverpodKind</string>
	<key>symmetricRepositoryDirection</key>
	<string>positionedFlyweightSpeed</string>
	<key>tweenVarTransparency</key>
	<string>previewEnvironmentKind</string>
	<key>visibleAsyncTop</key>
	<string>delegateOrCommand</string>
</dict>
</plist>
