<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystOrType</key>
	<string>sustainableTouchRight</string>
	<key>concreteChapterFormat</key>
	<string>nodePhaseVelocity</string>
	<key>fixedPaddingSpeed</key>
	<string>listenerActivityRate</string>
	<key>symmetricRemainderBehavior</key>
	<string>lazyOperationFrequency</string>
	<key>temporarySkinSpacing</key>
	<string>modelVersusEnvironment</string>
</dict>
</plist>
