<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerVarOffset</key>
	<string>lazySinkFormat</string>
	<key>marginInterpreterVelocity</key>
	<string>routeVariableValidation</string>
	<key>notifierMementoOpacity</key>
	<string>batchInTemple</string>
	<key>prismaticAwaitBottom</key>
	<string>activatedPositionedState</string>
	<key>requiredSubscriptionBorder</key>
	<string>tabviewBridgeSpeed</string>
	<key>sortedSingletonMargin</key>
	<string>semanticsByObserver</string>
	<key>statefulBinaryVisible</key>
	<string>instructionValueVisible</string>
	<key>symmetricPromiseTransparency</key>
	<string>chapterVersusChain</string>
	<key>variantPerFacade</key>
	<string>mobileArithmeticType</string>
</dict>
</plist>
