<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticOffsetAppearance</key>
	<string>mobileBorderSkewx</string>
	<key>constraintContainTier</key>
	<string>notificationFromFacade</string>
	<key>consultativePopupColor</key>
	<string>statefulBorderFeedback</string>
	<key>cupertinoChainBrightness</key>
	<string>primaryResponseScale</string>
	<key>descriptionNearDecorator</key>
	<string>publicBuilderColor</string>
	<key>exceptionChainDistance</key>
	<string>explicitGridviewDepth</string>
	<key>globalInstructionResponse</key>
	<string>kernelAboutBuffer</string>
	<key>metadataAndParam</key>
	<string>resilientTextTag</string>
	<key>mobilePhaseOrientation</key>
	<string>radiusTaskCenter</string>
	<key>segueOperationMomentum</key>
	<string>missionAndOperation</string>
</dict>
</plist>
