<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferValueContrast</key>
	<string>enabledCallbackRight</string>
	<key>normalActivityInteraction</key>
	<string>directTextShade</string>
	<key>providerAmongAction</key>
	<string>storeEnvironmentLocation</string>
	<key>providerViaPattern</key>
	<string>parallelAspectratioRate</string>
</dict>
</plist>
