<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exponentAmongCycle</key>
	<string>primarySingletonStyle</string>
	<key>respectiveChannelCount</key>
	<string>inactiveLayoutHead</string>
	<key>sortedButtonName</key>
	<string>sessionCycleStyle</string>
	<key>vectorVisitorSkewy</key>
	<string>labelShapeStyle</string>
</dict>
</plist>
