<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphActivityMargin</key>
	<string>signWithoutMode</string>
	<key>nextLayerDepth</key>
	<string>crudeEffectLocation</string>
	<key>sequentialPositionOffset</key>
	<string>referenceVarShape</string>
	<key>subtleSubpixelHead</key>
	<string>cupertinoFrameworkMargin</string>
	<key>vectorSystemPressure</key>
	<string>hardSemanticsVisible</string>
</dict>
</plist>
