<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAwayParameter</key>
	<string>crucialCompletionRate</string>
	<key>batchAroundAdapter</key>
	<string>comprehensiveRouterDirection</string>
	<key>chartByFramework</key>
	<string>inactiveResponseBehavior</string>
	<key>descriptionIncludeContext</key>
	<string>inactiveContainerSize</string>
	<key>difficultCapsuleForce</key>
	<string>unactivatedAsyncResponse</string>
	<key>fusedResponseBrightness</key>
	<string>opaqueConvolutionCenter</string>
	<key>permanentSegueMode</key>
	<string>popupActivityHue</string>
	<key>symbolParameterKind</key>
	<string>concurrentAspectratioDirection</string>
	<key>typicalBoxshadowMargin</key>
	<string>frameCompositeResponse</string>
</dict>
</plist>
