<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableProtocolHue</key>
	<string>permissiveMatrixTransparency</string>
	<key>effectKindMomentum</key>
	<string>shaderKindInterval</string>
	<key>frameAdapterInterval</key>
	<string>sinkSinceDecorator</string>
	<key>futureActionFrequency</key>
	<string>navigatorContainWork</string>
	<key>sessionSystemInteraction</key>
	<string>accessibleNavigatorSkewy</string>
	<key>statelessDuringMediator</key>
	<string>coordinatorOfFlyweight</string>
	<key>ternaryActionOpacity</key>
	<string>largeReducerMargin</string>
	<key>textureAlongWork</key>
	<string>projectIncludePrototype</string>
</dict>
</plist>
