<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityModeScale</key>
	<string>commonSceneLocation</string>
	<key>cellAlongState</key>
	<string>streamPlatformOffset</string>
	<key>listviewOrStructure</key>
	<string>flexEnvironmentPosition</string>
	<key>positionScopeKind</key>
	<string>reducerThanStage</string>
	<key>reactiveModelPadding</key>
	<string>vectorTypeRight</string>
	<key>reductionActivityDepth</key>
	<string>nibBeyondLevel</string>
	<key>spriteInterpreterTail</key>
	<string>awaitPatternColor</string>
</dict>
</plist>
