<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedResourceRotation</key>
	<string>viewInTier</string>
	<key>custompaintParameterBottom</key>
	<string>descriptionKindDuration</string>
	<key>offsetOfCommand</key>
	<string>chapterChainRight</string>
	<key>radiusThanStyle</key>
	<string>comprehensiveGraphStatus</string>
	<key>respectivePageviewMomentum</key>
	<string>inactiveModelHead</string>
	<key>serviceStateSaturation</key>
	<string>chartAtForm</string>
</dict>
</plist>
