<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationBesideValue</key>
	<string>featureDespitePattern</string>
	<key>directCoordinatorCenter</key>
	<string>transitionAroundFlyweight</string>
	<key>responseProxyResponse</key>
	<string>liteBorderType</string>
	<key>robustEffectMomentum</key>
	<string>positionedNumberHue</string>
	<key>sortedSineForce</key>
	<string>stateBridgeColor</string>
	<key>stateModeRight</key>
	<string>scaleAwayWork</string>
	<key>streamAndPrototype</key>
	<string>progressbarThroughMode</string>
</dict>
</plist>
