<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionStageDepth</key>
	<string>sizeEnvironmentMode</string>
	<key>disparateGradientTension</key>
	<string>channelsContainVisitor</string>
	<key>dropdownbuttonAboutActivity</key>
	<string>singletonAroundVar</string>
	<key>featureExceptStage</key>
	<string>normalAsyncInterval</string>
	<key>gestureStrategySaturation</key>
	<string>constraintVariableCenter</string>
	<key>presenterTempleDelay</key>
	<string>taskCompositeVisible</string>
</dict>
</plist>
