<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPerTemple</key>
	<string>blocInsideCommand</string>
	<key>chapterVersusMediator</key>
	<string>callbackDuringMethod</string>
	<key>fixedStreamDistance</key>
	<string>constraintSingletonOrigin</string>
	<key>largeSemanticsDirection</key>
	<string>durationKindBottom</string>
	<key>managerPerMediator</key>
	<string>playbackLevelPosition</string>
	<key>transformerCommandVisibility</key>
	<string>optimizerFacadeRate</string>
	<key>typicalDelegateCoord</key>
	<string>sophisticatedCommandState</string>
</dict>
</plist>
