<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasFunctionForce</key>
	<string>gradientFromTemple</string>
	<key>completerStageInteraction</key>
	<string>disparateClipperTail</string>
	<key>gridviewBeyondLevel</key>
	<string>ignoredIntegerOrigin</string>
	<key>modalWorkFlags</key>
	<string>symmetricSkinAppearance</string>
	<key>popupChainAppearance</key>
	<string>pinchableCollectionState</string>
	<key>resourceParameterSize</key>
	<string>customProjectionRotation</string>
	<key>shaderAsVar</key>
	<string>localizationMementoCoord</string>
	<key>smallFrameColor</key>
	<string>loopMethodVisibility</string>
	<key>spriteWithMemento</key>
	<string>grainAsAdapter</string>
	<key>statefulClipperCount</key>
	<string>sceneParamPressure</string>
</dict>
</plist>
