<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardPopupResponse</key>
	<string>protocolFromChain</string>
	<key>backwardSignDirection</key>
	<string>cacheStateSpacing</string>
	<key>bulletObserverVisibility</key>
	<string>shaderPlatformHead</string>
	<key>dropdownbuttonDespiteFlyweight</key>
	<string>mobileProcessSkewy</string>
	<key>hardCatalystKind</key>
	<string>challengeNearType</string>
	<key>smallModulusShape</key>
	<string>customizedFlexRight</string>
	<key>smartLossStyle</key>
	<string>largeViewAppearance</string>
</dict>
</plist>
