<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesNearOperation</key>
	<string>nodeStateAlignment</string>
	<key>immutableAlertContrast</key>
	<string>methodJobStatus</string>
	<key>reactiveSensorLocation</key>
	<string>rapidPainterTag</string>
	<key>requiredLayerAcceleration</key>
	<string>advancedNavigationDepth</string>
	<key>routeAtForm</key>
	<string>synchronousGridviewScale</string>
	<key>rowBesideInterpreter</key>
	<string>directEntityResponse</string>
	<key>vectorTypeBrightness</key>
	<string>descriptionJobColor</string>
</dict>
</plist>
