<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTierAcceleration</key>
	<string>methodTempleFrequency</string>
	<key>cupertinoPopupSkewy</key>
	<string>certificateForMediator</string>
	<key>delicateViewTheme</key>
	<string>animationTempleMode</string>
	<key>imageCommandVisibility</key>
	<string>arithmeticThroughState</string>
	<key>kernelVersusCommand</key>
	<string>tableSinceValue</string>
	<key>optionValueScale</key>
	<string>respectiveHeroFormat</string>
	<key>painterSystemPadding</key>
	<string>shaderAtMethod</string>
	<key>particleCommandState</key>
	<string>inkwellTaskFormat</string>
	<key>timerExceptPlatform</key>
	<string>chapterAwayMode</string>
	<key>vectorByMode</key>
	<string>routerInsideParameter</string>
</dict>
</plist>
