<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncModeHue</key>
	<string>rowStyleShape</string>
	<key>completerByAction</key>
	<string>factoryProcessTag</string>
	<key>concreteTouchOpacity</key>
	<string>descriptorFacadePosition</string>
	<key>customizedGraphSkewy</key>
	<string>advancedMissionPosition</string>
	<key>decorationLayerType</key>
	<string>hashProxyType</string>
	<key>mediocreSceneRotation</key>
	<string>boxshadowPatternMode</string>
	<key>notifierNumberMode</key>
	<string>lostConfigurationInset</string>
	<key>staticGemName</key>
	<string>labelAboutProxy</string>
	<key>transformerShapeAlignment</key>
	<string>accordionColumnOpacity</string>
	<key>utilViaPrototype</key>
	<string>brushShapeForce</string>
</dict>
</plist>
