<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeAppbarOpacity</key>
	<string>prismaticModelShape</string>
	<key>builderFormAcceleration</key>
	<string>compositionalZoneScale</string>
	<key>compositionUntilSingleton</key>
	<string>popupUntilObserver</string>
	<key>permanentResolverHue</key>
	<string>projectionByProcess</string>
</dict>
</plist>
