<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorByBridge</key>
	<string>decorationTaskShade</string>
	<key>gesturedetectorNearSingleton</key>
	<string>bufferFunctionKind</string>
	<key>giftViaTask</key>
	<string>grainViaPrototype</string>
	<key>instructionModeFeedback</key>
	<string>backwardCertificateScale</string>
	<key>normInterpreterMode</key>
	<string>grayscaleWithoutParameter</string>
	<key>textureDespiteBridge</key>
	<string>mediumUnaryColor</string>
</dict>
</plist>
