<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianIntensityInset</key>
	<string>getxJobBrightness</string>
	<key>challengeEnvironmentStyle</key>
	<string>constraintUntilTask</string>
	<key>completionUntilTask</key>
	<string>displayableEntitySpeed</string>
	<key>delicateStateSaturation</key>
	<string>topicPerStage</string>
	<key>discardedAxisFrequency</key>
	<string>overlayDuringCommand</string>
	<key>geometricCurveDelay</key>
	<string>monsterPrototypeKind</string>
	<key>greatPrecisionOpacity</key>
	<string>robustAspectBound</string>
	<key>modulusJobShape</key>
	<string>customizedDescriptionDuration</string>
	<key>sharedZoneTransparency</key>
	<string>fixedPopupOpacity</string>
	<key>sliderThanScope</key>
	<string>reducerWithObserver</string>
</dict>
</plist>
