<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMetadataAcceleration</key>
	<string>criticalLayerDepth</string>
	<key>certificateStateMomentum</key>
	<string>allocatorWithMemento</string>
	<key>heroBesideMemento</key>
	<string>customAlignmentContrast</string>
	<key>intuitiveNodeCount</key>
	<string>currentCollectionBorder</string>
	<key>labelValueRotation</key>
	<string>imperativeTableDensity</string>
	<key>monsterThanMemento</key>
	<string>popupLevelTop</string>
	<key>specifyClipperTint</key>
	<string>comprehensiveNotifierBrightness</string>
	<key>touchByVariable</key>
	<string>offsetPerPrototype</string>
</dict>
</plist>
