<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchProxyAppearance</key>
	<string>blocLikeMediator</string>
	<key>capacitiesProxyRight</key>
	<string>cubeDespiteOperation</string>
	<key>chapterPrototypeMomentum</key>
	<string>animationStrategyFlags</string>
	<key>interactorAtAdapter</key>
	<string>semanticsStructureStyle</string>
	<key>pivotalModelLocation</key>
	<string>textureAdapterDirection</string>
	<key>reductionAmongStructure</key>
	<string>newestLayoutShape</string>
	<key>subsequentBlocAlignment</key>
	<string>usageContextSkewx</string>
	<key>usecaseNumberDepth</key>
	<string>bitrateForStyle</string>
</dict>
</plist>
