<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionStyleOpacity</key>
	<string>requiredGradientMargin</string>
	<key>labelMementoSkewy</key>
	<string>constBehaviorSkewy</string>
	<key>movementFromDecorator</key>
	<string>resultOfVar</string>
	<key>prismaticPositionedAcceleration</key>
	<string>popupUntilBuffer</string>
</dict>
</plist>
