<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardNearStrategy</key>
	<string>logNumberTension</string>
	<key>constraintFromFlyweight</key>
	<string>enabledIntensityResponse</string>
	<key>listviewAtProxy</key>
	<string>subscriptionSystemCount</string>
	<key>nativeReductionVisible</key>
	<string>arithmeticBinaryBottom</string>
	<key>optimizerThroughCycle</key>
	<string>sliderAwayFlyweight</string>
	<key>projectionAtProcess</key>
	<string>permissiveEntityForce</string>
	<key>rowFromEnvironment</key>
	<string>expandedScopeCount</string>
</dict>
</plist>
