<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxStructureOffset</key>
	<string>builderStrategyTheme</string>
	<key>controllerFunctionSkewy</key>
	<string>blocStructureShape</string>
	<key>cupertinoProjectFrequency</key>
	<string>smallGridTag</string>
	<key>menuDecoratorVisibility</key>
	<string>tweenVarState</string>
	<key>scrollableAllocatorPadding</key>
	<string>scaffoldAdapterTail</string>
	<key>serviceStageTension</key>
	<string>easyToolBound</string>
	<key>storageAtParameter</key>
	<string>routeLikeStyle</string>
</dict>
</plist>
