<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastCompleterName</key>
	<string>switchVersusOperation</string>
	<key>memberThanOperation</key>
	<string>collectionFlyweightTail</string>
	<key>precisionIncludeChain</key>
	<string>priorDrawerFormat</string>
</dict>
</plist>
