<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectOutsideCommand</key>
	<string>autoRouteCenter</string>
	<key>comprehensivePositionOrientation</key>
	<string>intensityForTemple</string>
	<key>kernelInFunction</key>
	<string>resultContainOperation</string>
	<key>memberCyclePosition</key>
	<string>slashBufferFormat</string>
	<key>navigatorAtChain</key>
	<string>gridBesideForm</string>
	<key>particleAndBuffer</key>
	<string>inkwellFunctionTheme</string>
	<key>publicGemInteraction</key>
	<string>diffableGraphicMargin</string>
</dict>
</plist>
