<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedResolverOrigin</key>
	<string>batchWorkDensity</string>
	<key>discardedEntityValidation</key>
	<string>behaviorPerStructure</string>
	<key>explicitProtocolStatus</key>
	<string>screenLikeFunction</string>
	<key>isolateStatePosition</key>
	<string>activatedStatelessDelay</string>
	<key>normalPresenterVisible</key>
	<string>materialStrategyShade</string>
	<key>sceneWithoutPattern</key>
	<string>sineByLayer</string>
</dict>
</plist>
