<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellSystemTension</key>
	<string>desktopErrorScale</string>
	<key>hardEffectLeft</key>
	<string>zoneBufferTop</string>
	<key>inkwellLayerContrast</key>
	<string>extensionDuringFramework</string>
	<key>metadataTaskStyle</key>
	<string>canvasVersusSingleton</string>
	<key>profileTaskMode</key>
	<string>secondTransitionHue</string>
	<key>routeChainDelay</key>
	<string>serviceMethodType</string>
	<key>stampViaShape</key>
	<string>coordinatorShapeDepth</string>
	<key>subsequentFutureShape</key>
	<string>masterBufferInterval</string>
	<key>textureAsInterpreter</key>
	<string>challengeAgainstPhase</string>
	<key>zoneKindMode</key>
	<string>scrollVarType</string>
</dict>
</plist>
