<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoSizeType</key>
	<string>draggableRequestPadding</string>
	<key>curveShapeDuration</key>
	<string>consumerCycleAppearance</string>
	<key>dropdownbuttonVarTop</key>
	<string>mainResourceAlignment</string>
	<key>entropyMementoVisible</key>
	<string>offsetJobHue</string>
	<key>lostSubpixelTint</key>
	<string>playbackOfObserver</string>
	<key>otherOffsetShade</key>
	<string>drawerFacadeDuration</string>
	<key>prevSpotSpacing</key>
	<string>basicZoneFlags</string>
	<key>robustMemberDirection</key>
	<string>providerTempleTail</string>
	<key>seamlessNibResponse</key>
	<string>seamlessHandlerOrigin</string>
	<key>vectorAndInterpreter</key>
	<string>viewFunctionCount</string>
</dict>
</plist>
