<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedAccessoryCoord</key>
	<string>menuThanVar</string>
	<key>diffableSingletonVisible</key>
	<string>fragmentByVar</string>
	<key>exceptionContextBorder</key>
	<string>scaffoldVarColor</string>
	<key>inactiveTransitionFeedback</key>
	<string>widgetSingletonOrientation</string>
	<key>retainedGridviewRate</key>
	<string>geometricNavigatorForce</string>
	<key>richtextFromForm</key>
	<string>segueMethodDistance</string>
	<key>singleSensorScale</key>
	<string>rectJobLocation</string>
	<key>stateBeyondSystem</key>
	<string>utilStructureRotation</string>
	<key>storageExceptComposite</key>
	<string>statelessObserverAcceleration</string>
	<key>symbolAmongKind</key>
	<string>cartesianFrameForce</string>
</dict>
</plist>
