<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionJobSkewx</key>
	<string>eagerLossInset</string>
	<key>coordinatorBesideOperation</key>
	<string>baseStateOrientation</string>
	<key>coordinatorNumberDistance</key>
	<string>drawerCompositeRotation</string>
	<key>popupPlatformMomentum</key>
	<string>momentumActivityTag</string>
	<key>semanticCertificateAppearance</key>
	<string>configurationPerStructure</string>
	<key>semanticStatefulSaturation</key>
	<string>methodFunctionContrast</string>
	<key>serviceActionState</key>
	<string>observerProxyOrientation</string>
	<key>singletonForForm</key>
	<string>optionFacadeForce</string>
	<key>spriteVersusInterpreter</key>
	<string>composableIsolateFormat</string>
	<key>utilSingletonKind</key>
	<string>progressbarParameterResponse</string>
</dict>
</plist>
