<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryUntilVariable</key>
	<string>pageviewFromChain</string>
	<key>completerStateFlags</key>
	<string>directProtocolCenter</string>
	<key>concreteBlocName</key>
	<string>durationContextForce</string>
	<key>crucialActionDistance</key>
	<string>scrollableBatchFormat</string>
	<key>nativeTopicDuration</key>
	<string>particleAroundParameter</string>
	<key>scaleParameterAlignment</key>
	<string>entityVarHead</string>
	<key>threadAboutNumber</key>
	<string>cubitUntilMode</string>
	<key>titleContextDirection</key>
	<string>crudeVectorHue</string>
	<key>unaryThanMode</key>
	<string>usedInterfaceVelocity</string>
	<key>workflowAsSystem</key>
	<string>tangentShapeBottom</string>
</dict>
</plist>
