<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>modulusAlongKind</key>
	<string>reducerInsideWork</string>
	<key>paddingPatternHue</key>
	<string>granularSpineBottom</string>
	<key>promiseDuringLayer</key>
	<string>graphContainJob</string>
	<key>uniformTopicCenter</key>
	<string>containerShapeShape</string>
</dict>
</plist>
