<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionBesideBridge</key>
	<string>durationWorkDirection</string>
	<key>dropdownbuttonChainTop</key>
	<string>ephemeralTextureHue</string>
	<key>effectDuringParameter</key>
	<string>viewWithoutFlyweight</string>
	<key>fixedExponentHead</key>
	<string>transformerStateColor</string>
	<key>gridviewViaVariable</key>
	<string>euclideanBufferTint</string>
	<key>intensityByActivity</key>
	<string>radiusContextTint</string>
	<key>isolateBesideMode</key>
	<string>notificationWithoutMode</string>
	<key>normalScrollAlignment</key>
	<string>tappableTweenDensity</string>
	<key>offsetAmongPlatform</key>
	<string>commandObserverKind</string>
	<key>substantialStoreOffset</key>
	<string>protocolFormDelay</string>
</dict>
</plist>
