<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerIncludeAdapter</key>
	<string>cacheOfFacade</string>
	<key>backwardCallbackAcceleration</key>
	<string>originalCycleTail</string>
	<key>finalGridviewLocation</key>
	<string>precisionAboutProcess</string>
	<key>mediumGemDepth</key>
	<string>exponentNearForm</string>
	<key>persistentScreenTint</key>
	<string>unaryWithPrototype</string>
	<key>tabviewForInterpreter</key>
	<string>indicatorIncludeStructure</string>
</dict>
</plist>
