<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableReducerName</key>
	<string>sophisticatedSingletonSpacing</string>
	<key>intermediateRichtextMode</key>
	<string>histogramExceptCommand</string>
	<key>listenerStrategyOffset</key>
	<string>subsequentHashVisible</string>
	<key>mediumTabviewSaturation</key>
	<string>errorSinceKind</string>
	<key>responseAboutNumber</key>
	<string>flexStrategyAlignment</string>
	<key>statefulBesideParameter</key>
	<string>baselineShapeVisibility</string>
</dict>
</plist>
