<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnAtAdapter</key>
	<string>borderJobDirection</string>
	<key>gridAndType</key>
	<string>diversifiedModelBound</string>
	<key>imperativeScreenInteraction</key>
	<string>chartForTemple</string>
	<key>indicatorContainState</key>
	<string>subtleResourceStyle</string>
	<key>observerViaInterpreter</key>
	<string>statelessUtilFlags</string>
	<key>permanentTextureInteraction</key>
	<string>promiseFlyweightSkewy</string>
	<key>priorPositionRate</key>
	<string>associatedChartStatus</string>
	<key>queueLikeOperation</key>
	<string>reactiveChartBrightness</string>
	<key>specifyTickerDistance</key>
	<string>methodModeResponse</string>
	<key>visibleOptimizerState</key>
	<string>constraintOfActivity</string>
</dict>
</plist>
