<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticGramBottom</key>
	<string>permanentSpriteFormat</string>
	<key>enabledStoryboardCoord</key>
	<string>accessibleNavigatorMomentum</string>
	<key>symmetricSemanticsVelocity</key>
	<string>coordinatorParamRate</string>
</dict>
</plist>
