<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitNodePosition</key>
	<string>descriptorAgainstMediator</string>
	<key>greatMapOffset</key>
	<string>equalizationBufferRotation</string>
	<key>gridNearSingleton</key>
	<string>graphStructureCenter</string>
	<key>independentReducerPressure</key>
	<string>backwardPainterTheme</string>
	<key>intuitiveBuilderKind</key>
	<string>advancedSubscriptionTint</string>
	<key>liteSegmentTension</key>
	<string>euclideanAllocatorType</string>
	<key>painterSystemTop</key>
	<string>handlerInFlyweight</string>
	<key>robustCubitBrightness</key>
	<string>nativeChannelDuration</string>
	<key>stepCommandCoord</key>
	<string>intensityBridgeTail</string>
</dict>
</plist>
