<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterFunctionAlignment</key>
	<string>navigationEnvironmentRate</string>
	<key>crudeGestureOrigin</key>
	<string>chapterTierMode</string>
	<key>descriptorAboutMethod</key>
	<string>sophisticatedAnchorCenter</string>
	<key>granularDelegateDuration</key>
	<string>commonCosineOrientation</string>
	<key>reusableCapsuleResponse</key>
	<string>requestOutsideComposite</string>
	<key>rowLikeJob</key>
	<string>adaptiveLocalizationOpacity</string>
</dict>
</plist>
