<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileDependencyForce</key>
	<string>indicatorAdapterBottom</string>
	<key>awaitTypeOrigin</key>
	<string>diversifiedFactoryCount</string>
	<key>collectionFormDirection</key>
	<string>accessibleCubeCount</string>
	<key>controllerForActivity</key>
	<string>tweenNearAction</string>
	<key>coordinatorAroundObserver</key>
	<string>unactivatedOptionBehavior</string>
	<key>graphMediatorDensity</key>
	<string>grainForAdapter</string>
	<key>groupShapeKind</key>
	<string>dedicatedReferenceBehavior</string>
	<key>imperativeAccessorySpacing</key>
	<string>routerVariableRate</string>
	<key>multiRadioSpacing</key>
	<string>respectiveAxisSaturation</string>
	<key>zoneShapeShade</key>
	<string>subscriptionLevelDepth</string>
</dict>
</plist>
