<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStructureOrientation</key>
	<string>completerViaState</string>
	<key>curveNearTier</key>
	<string>activitySinceScope</string>
	<key>notifierPrototypeDuration</key>
	<string>presenterTaskScale</string>
	<key>radiusOperationAppearance</key>
	<string>cacheAlongFacade</string>
	<key>viewViaPlatform</key>
	<string>directlyLocalizationDensity</string>
</dict>
</plist>
