<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigatorOrTask</key>
	<string>descriptionChainTheme</string>
	<key>resilientInterfaceLocation</key>
	<string>giftExceptJob</string>
	<key>sizeScopeDensity</key>
	<string>topicBesideMode</string>
	<key>statefulButtonCount</key>
	<string>iterativeKernelSize</string>
</dict>
</plist>
