<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowMediatorBehavior</key>
	<string>unsortedZoneRate</string>
	<key>effectContainObserver</key>
	<string>otherGetxLeft</string>
	<key>grayscaleVisitorMomentum</key>
	<string>checklistAwayBuffer</string>
</dict>
</plist>
