<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterWithoutAction</key>
	<string>staticReductionInteraction</string>
	<key>documentInsideMode</key>
	<string>mapBesideMediator</string>
	<key>gridActionPadding</key>
	<string>denseGramSize</string>
	<key>invisibleFrameHead</key>
	<string>assetAwayVariable</string>
	<key>layerAroundNumber</key>
	<string>responseUntilParam</string>
	<key>progressbarInsideValue</key>
	<string>seamlessAxisFeedback</string>
	<key>routeTierDensity</key>
	<string>cycleAsCycle</string>
	<key>tangentScopeCoord</key>
	<string>mutableUsecaseInset</string>
</dict>
</plist>
