<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerPrecisionAppearance</key>
	<string>lastBuilderFrequency</string>
	<key>eventAndFramework</key>
	<string>effectPerState</string>
	<key>grayscaleAwayVisitor</key>
	<string>workflowAmongVar</string>
	<key>hardCompleterInset</key>
	<string>ternaryJobPadding</string>
	<key>requiredSpotHue</key>
	<string>similarStackIndex</string>
	<key>singleSliderSkewy</key>
	<string>durationParamBorder</string>
</dict>
</plist>
