<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftOperationIndex</key>
	<string>displayableFeatureColor</string>
	<key>musicExceptFacade</key>
	<string>metadataBeyondSingleton</string>
	<key>overlayMediatorVelocity</key>
	<string>extensionScopeAppearance</string>
	<key>pageviewLikeCycle</key>
	<string>beginnerFutureResponse</string>
	<key>reactiveFutureDirection</key>
	<string>listenerInsidePrototype</string>
	<key>secondSessionBorder</key>
	<string>chapterParameterRate</string>
	<key>symmetricRowSkewx</key>
	<string>descriptionBridgeVisibility</string>
	<key>webRouteBehavior</key>
	<string>checklistViaParameter</string>
</dict>
</plist>
