<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveAnimationStatus</key>
	<string>opaqueChannelsPressure</string>
	<key>blocJobBrightness</key>
	<string>stateUntilVariable</string>
	<key>delicateAnimationDirection</key>
	<string>arithmeticFlyweightDelay</string>
	<key>logarithmAboutLevel</key>
	<string>currentLayoutSize</string>
	<key>loopInterpreterEdge</key>
	<string>tappableTransformerOpacity</string>
	<key>metadataFlyweightPosition</key>
	<string>fixedUsageCenter</string>
	<key>metadataOrAction</key>
	<string>toolModeRate</string>
	<key>radioAlongMemento</key>
	<string>consumerExceptSystem</string>
	<key>responseByPlatform</key>
	<string>cartesianTimerShade</string>
	<key>temporaryTaskTag</key>
	<string>webBehaviorAcceleration</string>
</dict>
</plist>
