<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAsStyle</key>
	<string>uniqueSubscriptionFeedback</string>
	<key>eagerBorderTint</key>
	<string>mediaOrScope</string>
	<key>fusedChallengePadding</key>
	<string>consultativeSwiftMode</string>
	<key>shaderInFlyweight</key>
	<string>flexInsideComposite</string>
	<key>taskFunctionLeft</key>
	<string>euclideanSwitchTop</string>
</dict>
</plist>
