<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowStyleOrientation</key>
	<string>interactorAlongStrategy</string>
	<key>durationAboutContext</key>
	<string>blocAtTier</string>
	<key>euclideanServiceCenter</key>
	<string>sharedCollectionMode</string>
	<key>firstResponseScale</key>
	<string>priorStateResponse</string>
	<key>graphAlongAction</key>
	<string>metadataBufferVelocity</string>
	<key>inheritedTimerCenter</key>
	<string>sizedboxVersusForm</string>
	<key>sampleExceptDecorator</key>
	<string>captionMethodName</string>
	<key>seamlessMobileTension</key>
	<string>rapidLossName</string>
	<key>transitionVariableContrast</key>
	<string>similarActionState</string>
</dict>
</plist>
