<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintVisitorRotation</key>
	<string>bulletFlyweightType</string>
	<key>containerCommandInset</key>
	<string>mediumQueryDistance</string>
	<key>greatRouterVisibility</key>
	<string>cosineStageRate</string>
	<key>labelLayerInterval</key>
	<string>normalSizedboxScale</string>
	<key>mediumButtonInterval</key>
	<string>bufferWithStyle</string>
	<key>pivotalClipperBorder</key>
	<string>delegateInsideForm</string>
	<key>segueAndCycle</key>
	<string>menuStageState</string>
	<key>sliderIncludeProxy</key>
	<string>taskThroughStrategy</string>
	<key>sophisticatedUsageVelocity</key>
	<string>tableModeEdge</string>
	<key>statelessAspectTint</key>
	<string>singlePlateShade</string>
</dict>
</plist>
