<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionFromObserver</key>
	<string>dedicatedErrorContrast</string>
	<key>globalModelOpacity</key>
	<string>navigationKindTransparency</string>
	<key>mediaSinceBuffer</key>
	<string>concreteConstraintFeedback</string>
	<key>particlePlatformDirection</key>
	<string>titleModeKind</string>
	<key>signaturePrototypeTag</key>
	<string>batchVisitorLeft</string>
	<key>viewBesidePlatform</key>
	<string>hashLayerCount</string>
</dict>
</plist>
