<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonInjectionPosition</key>
	<string>scaleInForm</string>
	<key>decorationCommandCoord</key>
	<string>smallSpineSkewy</string>
	<key>hierarchicalTweenCoord</key>
	<string>tickerCycleSize</string>
	<key>reactiveReducerPadding</key>
	<string>interfaceContainShape</string>
	<key>ternaryStageRotation</key>
	<string>actionChainFeedback</string>
	<key>workflowViaFlyweight</key>
	<string>batchThroughVisitor</string>
</dict>
</plist>
