<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matrixCommandOffset</key>
	<string>completionCommandMargin</string>
	<key>protectedObserverLeft</key>
	<string>chartVisitorBottom</string>
	<key>streamAmongAction</key>
	<string>animationPrototypeRight</string>
	<key>subsequentHeapBound</key>
	<string>statefulAmongBridge</string>
</dict>
</plist>
