<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeFlexContrast</key>
	<string>previewCommandName</string>
	<key>capsulePhaseInset</key>
	<string>consumerLevelSaturation</string>
	<key>chapterWorkTint</key>
	<string>normVersusMethod</string>
	<key>memberInsidePlatform</key>
	<string>awaitCommandRotation</string>
	<key>observerKindTail</key>
	<string>drawerScopeLocation</string>
</dict>
</plist>
