<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitViaWork</key>
	<string>interactiveStreamPosition</string>
	<key>channelsWithoutStrategy</key>
	<string>subtleButtonRotation</string>
	<key>coordinatorExceptJob</key>
	<string>routeContainPlatform</string>
	<key>cubitShapeScale</key>
	<string>mobileDuringPrototype</string>
	<key>gesturedetectorObserverSkewy</key>
	<string>numericalResourceBottom</string>
	<key>reactiveCubeAcceleration</key>
	<string>localizationOfJob</string>
	<key>retainedRadiusTransparency</key>
	<string>checkboxOutsideSingleton</string>
</dict>
</plist>
