<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferFromState</key>
	<string>statelessChecklistSaturation</string>
	<key>configurationActionColor</key>
	<string>signAlongStrategy</string>
	<key>deferredResourceOffset</key>
	<string>sampleNumberVelocity</string>
	<key>documentUntilTask</key>
	<string>standaloneIntensityLocation</string>
	<key>heroBufferFlags</key>
	<string>tabviewJobTag</string>
	<key>lastOffsetDepth</key>
	<string>immutableNavigationOrigin</string>
	<key>originalAnimationSize</key>
	<string>subtleWidgetAppearance</string>
	<key>pointKindPadding</key>
	<string>scaleLayerRight</string>
	<key>titleParamFormat</key>
	<string>imperativeResourceDensity</string>
	<key>typicalTickerLocation</key>
	<string>controllerIncludeNumber</string>
</dict>
</plist>
