<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameStructureInset</key>
	<string>particleUntilLevel</string>
	<key>immediateDurationInset</key>
	<string>progressbarAlongMediator</string>
	<key>momentumMethodSaturation</key>
	<string>sharedColumnBorder</string>
	<key>painterFunctionSkewx</key>
	<string>toolCompositeKind</string>
</dict>
</plist>
