<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperEnvironmentDistance</key>
	<string>tweenNumberStyle</string>
	<key>directConstraintInset</key>
	<string>variantDespiteContext</string>
	<key>equipmentInterpreterName</key>
	<string>progressbarFacadeStyle</string>
	<key>gemCycleSpeed</key>
	<string>interactorProcessOrigin</string>
	<key>injectionUntilTask</key>
	<string>coordinatorFromCommand</string>
	<key>interactiveLayoutVisible</key>
	<string>radioEnvironmentFormat</string>
	<key>layoutCommandDensity</key>
	<string>sliderDespiteFramework</string>
	<key>permanentCubeDistance</key>
	<string>mainTextureMomentum</string>
</dict>
</plist>
