<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerProcessAppearance</key>
	<string>operationKindDirection</string>
	<key>curveInsideObserver</key>
	<string>arithmeticFrameContrast</string>
	<key>graphActivityCoord</key>
	<string>sinkBesideOperation</string>
	<key>localCommandTheme</key>
	<string>firstMasterVisible</string>
	<key>navigatorSinceCommand</key>
	<string>adaptiveBitrateBrightness</string>
	<key>paddingCycleFormat</key>
	<string>segmentStageStyle</string>
	<key>pivotalAllocatorSkewx</key>
	<string>delegatePerAdapter</string>
	<key>presenterTempleSize</key>
	<string>metadataOrPrototype</string>
	<key>radiusStrategyMargin</key>
	<string>respectiveVariantLocation</string>
</dict>
</plist>
