<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitStateKind</key>
	<string>documentAmongFramework</string>
	<key>custompaintTaskTint</key>
	<string>memberObserverOffset</string>
	<key>disabledGrayscalePadding</key>
	<string>denseSpriteOrigin</string>
	<key>fusedDelegateDistance</key>
	<string>pinchableDescriptorVisible</string>
	<key>getxNearCommand</key>
	<string>isolateCompositeDuration</string>
	<key>presenterByProxy</key>
	<string>previewFacadeFlags</string>
	<key>rowFormValidation</key>
	<string>accessoryContextFlags</string>
	<key>sortedPageviewRight</key>
	<string>containerFrameworkInset</string>
</dict>
</plist>
