<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderCycleTop</key>
	<string>materialMediatorVelocity</string>
	<key>priorityDuringBridge</key>
	<string>subtleMetadataInterval</string>
	<key>rapidContainerOpacity</key>
	<string>sinkViaValue</string>
</dict>
</plist>
