<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousNormTag</key>
	<string>callbackStateScale</string>
	<key>catalystProcessScale</key>
	<string>gemCompositePosition</string>
	<key>documentFromWork</key>
	<string>nibVariableOrigin</string>
	<key>grayscaleVisitorForce</key>
	<string>decorationOrAdapter</string>
	<key>hierarchicalListenerDensity</key>
	<string>intuitiveDurationName</string>
	<key>pinchableLayoutAcceleration</key>
	<string>statefulAssetLeft</string>
	<key>protocolAmongWork</key>
	<string>localizationOrShape</string>
	<key>synchronousCatalystScale</key>
	<string>groupShapeRotation</string>
	<key>transitionSinceState</key>
	<string>textureObserverSpeed</string>
</dict>
</plist>
