<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeNavigatorTension</key>
	<string>equipmentIncludeParameter</string>
	<key>curveWorkVelocity</key>
	<string>textureFacadeIndex</string>
	<key>graphicContextTheme</key>
	<string>futureWorkDensity</string>
	<key>hyperbolicBaselineColor</key>
	<string>widgetAboutShape</string>
	<key>missedDocumentSkewx</key>
	<string>compositionalRepositorySkewx</string>
	<key>symbolBufferVisible</key>
	<string>movementContextIndex</string>
	<key>symbolOrPhase</key>
	<string>metadataProxyRight</string>
	<key>unactivatedStorageInteraction</key>
	<string>customizedResponseSize</string>
</dict>
</plist>
