<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderNumberOrigin</key>
	<string>materialTransitionInterval</string>
	<key>descriptionNearCommand</key>
	<string>channelStylePosition</string>
	<key>interactorContainFramework</key>
	<string>referenceBesideInterpreter</string>
	<key>transformerTaskRotation</key>
	<string>stackNumberShade</string>
</dict>
</plist>
