<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInterpreterVisibility</key>
	<string>sceneNearVisitor</string>
	<key>captionAboutDecorator</key>
	<string>singleBlocTop</string>
	<key>integerInNumber</key>
	<string>layerTypeState</string>
	<key>intuitiveDurationInset</key>
	<string>currentSliderDistance</string>
	<key>multiDropdownbuttonName</key>
	<string>priorRowOpacity</string>
	<key>rectPerObserver</key>
	<string>commandExceptStyle</string>
	<key>sequentialResponseVisible</key>
	<string>sequentialVectorTheme</string>
	<key>skinModeBorder</key>
	<string>uniqueProjectSpacing</string>
	<key>storageAlongNumber</key>
	<string>clipperShapeTail</string>
	<key>storageWithValue</key>
	<string>callbackStateSaturation</string>
</dict>
</plist>
