<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicButtonSpacing</key>
	<string>uniqueNavigatorDistance</string>
	<key>builderEnvironmentLeft</key>
	<string>ignoredStorageAlignment</string>
	<key>coordinatorSingletonBound</key>
	<string>protectedSceneCenter</string>
	<key>exceptionParameterKind</key>
	<string>mediaqueryBesidePhase</string>
	<key>gesturedetectorWorkVelocity</key>
	<string>notifierLayerSize</string>
	<key>hyperbolicSinkRight</key>
	<string>symbolExceptPrototype</string>
	<key>intensityAroundStructure</key>
	<string>scaleInsideStructure</string>
	<key>reductionSystemSaturation</key>
	<string>grayscaleBeyondLayer</string>
	<key>semanticBlocState</key>
	<string>metadataLikeFramework</string>
	<key>usecaseContainFacade</key>
	<string>handlerBeyondJob</string>
</dict>
</plist>
