<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderInFlyweight</key>
	<string>gemVersusCommand</string>
	<key>decorationNearInterpreter</key>
	<string>buttonMementoKind</string>
	<key>observerBufferSaturation</key>
	<string>navigatorSystemInteraction</string>
	<key>queryExceptStyle</key>
	<string>collectionSingletonSkewy</string>
	<key>transitionPhaseDensity</key>
	<string>graphTemplePressure</string>
	<key>uniqueMonsterCoord</key>
	<string>optimizerVarLeft</string>
</dict>
</plist>
