<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexibleLabelName</key>
	<string>cartesianNotificationSkewy</string>
	<key>hierarchicalThemeTension</key>
	<string>hardEntityTransparency</string>
	<key>presenterBeyondProcess</key>
	<string>draggableQueryVisible</string>
	<key>priorPresenterContrast</key>
	<string>accordionOverlayTag</string>
	<key>themeAwayJob</key>
	<string>popupPatternLeft</string>
</dict>
</plist>
