<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTickerVelocity</key>
	<string>sizeWorkShape</string>
	<key>imperativeTableFormat</key>
	<string>listviewDespiteType</string>
	<key>mobileCubeTheme</key>
	<string>routerThanBridge</string>
	<key>permanentChapterFlags</key>
	<string>zoneObserverKind</string>
	<key>subsequentAnimatedcontainerAcceleration</key>
	<string>chapterAtVar</string>
</dict>
</plist>
