<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAlongDecorator</key>
	<string>resourceIncludeActivity</string>
	<key>finalHeroCount</key>
	<string>hashAroundTier</string>
	<key>mediumRowIndex</key>
	<string>usedTransformerName</string>
	<key>permanentDependencyOpacity</key>
	<string>easyUtilTransparency</string>
	<key>playbackInShape</key>
	<string>typicalAlphaTension</string>
</dict>
</plist>
