<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferSinceFlyweight</key>
	<string>localGradientSize</string>
	<key>containerWithoutStage</key>
	<string>persistentCurveLocation</string>
	<key>delegateTierDuration</key>
	<string>convolutionAsState</string>
	<key>methodPerStrategy</key>
	<string>gesturedetectorOfSystem</string>
	<key>monsterAwayFunction</key>
	<string>isolateSingletonFormat</string>
	<key>sharedSliderKind</key>
	<string>typicalSizeVisibility</string>
	<key>specifyListenerFrequency</key>
	<string>builderAsStrategy</string>
	<key>streamByOperation</key>
	<string>retainedAlertDensity</string>
</dict>
</plist>
