<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderInterpreterFrequency</key>
	<string>projectionTypeLocation</string>
	<key>cupertinoFromTemple</key>
	<string>sessionBufferTension</string>
	<key>interactiveSinkSize</key>
	<string>immediateGestureMargin</string>
	<key>protectedBoxFlags</key>
	<string>uniqueRequestTension</string>
	<key>textfieldLayerShade</key>
	<string>aspectratioShapeName</string>
</dict>
</plist>
