<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateByKind</key>
	<string>coordinatorExceptFacade</string>
	<key>dynamicDrawerColor</key>
	<string>nodePerTemple</string>
	<key>factoryProcessSpeed</key>
	<string>streamExceptCommand</string>
	<key>mobileInForm</key>
	<string>optionCycleForce</string>
	<key>routerBeyondContext</key>
	<string>remainderUntilCommand</string>
	<key>scaleOfPhase</key>
	<string>listenerTierBrightness</string>
</dict>
</plist>
