<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowVersusPattern</key>
	<string>geometricMonsterBound</string>
	<key>delegateForValue</key>
	<string>modelWorkBottom</string>
	<key>inheritedAnimationCount</key>
	<string>temporaryArithmeticSkewx</string>
	<key>symmetricEventIndex</key>
	<string>convolutionOperationShape</string>
	<key>threadStrategyRight</key>
	<string>newestBoxPadding</string>
	<key>webPlaybackContrast</key>
	<string>subpixelKindRate</string>
</dict>
</plist>
