<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerPatternStatus</key>
	<string>playbackPlatformFlags</string>
	<key>exponentMementoDirection</key>
	<string>musicFunctionDuration</string>
	<key>flexibleCubitShape</key>
	<string>curveInterpreterSize</string>
	<key>visibleHeapDuration</key>
	<string>zoneSingletonTag</string>
</dict>
</plist>
