<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleUntilActivity</key>
	<string>priorRouterTheme</string>
	<key>completerAmongActivity</key>
	<string>substantialLabelForce</string>
	<key>controllerViaTemple</key>
	<string>responseVarMargin</string>
	<key>intensityChainTop</key>
	<string>completerThroughProxy</string>
	<key>singletonObserverOpacity</key>
	<string>operationPerFacade</string>
	<key>viewFacadeLeft</key>
	<string>chapterBridgeContrast</string>
</dict>
</plist>
