<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAlongStructure</key>
	<string>localizationAtAdapter</string>
	<key>awaitViaObserver</key>
	<string>equipmentActionResponse</string>
	<key>globalManagerResponse</key>
	<string>resilientOptimizerSkewy</string>
	<key>optimizerAmongStrategy</key>
	<string>captionOrLayer</string>
	<key>reusableTickerCount</key>
	<string>workflowInsidePrototype</string>
	<key>routeVarEdge</key>
	<string>configurationInsideKind</string>
	<key>routerWorkTension</key>
	<string>dialogsWithVar</string>
	<key>similarSceneMargin</key>
	<string>apertureProxyState</string>
	<key>tabbarThanFramework</key>
	<string>threadWorkBorder</string>
	<key>usageInterpreterSpeed</key>
	<string>textPhaseDirection</string>
</dict>
</plist>
