<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayablePresenterPosition</key>
	<string>retainedWidgetForce</string>
	<key>popupEnvironmentValidation</key>
	<string>reducerViaKind</string>
	<key>tableEnvironmentDensity</key>
	<string>consultativeGiftScale</string>
</dict>
</plist>
