<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintFrameworkValidation</key>
	<string>inactiveFactoryDelay</string>
	<key>factoryVersusDecorator</key>
	<string>fusedStatefulFrequency</string>
	<key>metadataInsideFunction</key>
	<string>sizeAboutBuffer</string>
	<key>responseBridgeVelocity</key>
	<string>semanticNodeCoord</string>
	<key>statefulAspectLeft</key>
	<string>rectVariableRight</string>
	<key>unactivatedRemainderRight</key>
	<string>delegateAdapterName</string>
</dict>
</plist>
