<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerVisitorTail</key>
	<string>instructionBufferDensity</string>
	<key>constraintNearVisitor</key>
	<string>delicateObserverStyle</string>
	<key>crudeButtonPressure</key>
	<string>deferredPointTint</string>
	<key>declarativePlaybackMomentum</key>
	<string>routePatternBorder</string>
	<key>decorationContextDepth</key>
	<string>groupDuringBuffer</string>
	<key>hierarchicalEntityContrast</key>
	<string>reductionPerType</string>
	<key>kernelAroundChain</key>
	<string>mobileCapsuleTop</string>
	<key>mobileStageCount</key>
	<string>managerExceptPhase</string>
	<key>newestAspectOffset</key>
	<string>bufferIncludePattern</string>
</dict>
</plist>
