<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncFlyweightBrightness</key>
	<string>protocolPrototypeMode</string>
	<key>marginPerTemple</key>
	<string>slashTempleShape</string>
	<key>mediocreListviewPosition</key>
	<string>permissiveInkwellContrast</string>
	<key>sessionFromStyle</key>
	<string>navigatorExceptStage</string>
	<key>singletonAsProxy</key>
	<string>eventScopePosition</string>
	<key>singletonDecoratorCenter</key>
	<string>coordinatorBeyondStage</string>
</dict>
</plist>
