<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionParamTail</key>
	<string>mediocreChannelTop</string>
	<key>concurrentAssetPosition</key>
	<string>handlerObserverResponse</string>
	<key>imperativeSymbolBehavior</key>
	<string>constraintPrototypeOffset</string>
	<key>observerBufferColor</key>
	<string>hardHeroAlignment</string>
	<key>rowNumberTop</key>
	<string>mainCursorCenter</string>
	<key>viewProcessDelay</key>
	<string>positionedObserverBottom</string>
</dict>
</plist>
