<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedThreadScale</key>
	<string>tweenAndFramework</string>
	<key>chartVarAlignment</key>
	<string>euclideanProtocolStatus</string>
	<key>expandedMementoBrightness</key>
	<string>mediumIconKind</string>
	<key>isolateAndSingleton</key>
	<string>displayableEffectCount</string>
	<key>metadataInEnvironment</key>
	<string>featureFromContext</string>
	<key>radiusVariableTheme</key>
	<string>dependencyNearAdapter</string>
	<key>roleTaskOrientation</key>
	<string>seamlessContainerResponse</string>
	<key>segueMediatorShape</key>
	<string>featureFrameworkIndex</string>
	<key>standaloneDrawerVisible</key>
	<string>retainedServicePosition</string>
</dict>
</plist>
