<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionJobOffset</key>
	<string>sequentialPopupDepth</string>
	<key>dimensionWithLayer</key>
	<string>alignmentSystemKind</string>
	<key>drawerFlyweightMomentum</key>
	<string>advancedPopupMargin</string>
	<key>errorAwayDecorator</key>
	<string>managerNearScope</string>
	<key>lossStrategyTheme</key>
	<string>resizableCommandDistance</string>
	<key>modelAndParameter</key>
	<string>globalQueryScale</string>
	<key>semanticUnaryInteraction</key>
	<string>unaryThanFunction</string>
	<key>tensorSizedboxType</key>
	<string>awaitMementoVelocity</string>
</dict>
</plist>
