<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActionDirection</key>
	<string>resultExceptProxy</string>
	<key>cellDecoratorType</key>
	<string>labelValueBorder</string>
	<key>dedicatedAspectPressure</key>
	<string>skinFrameworkOrientation</string>
	<key>diffableDecorationState</key>
	<string>iconDecoratorDirection</string>
	<key>parallelHashInteraction</key>
	<string>streamPatternOpacity</string>
	<key>reducerVariableStatus</key>
	<string>relationalWidgetRotation</string>
	<key>roleLikeBridge</key>
	<string>serviceAsDecorator</string>
	<key>scaffoldStructureDuration</key>
	<string>coordinatorAmongInterpreter</string>
	<key>scaffoldThroughMode</key>
	<string>respectiveTimerInteraction</string>
	<key>sliderAmongSystem</key>
	<string>autoDocumentFrequency</string>
</dict>
</plist>
