<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoArithmeticBorder</key>
	<string>scaffoldAroundVisitor</string>
	<key>channelOutsideAdapter</key>
	<string>listenerAsPrototype</string>
	<key>errorOrVisitor</key>
	<string>litePositionAcceleration</string>
	<key>localizationTaskSkewy</key>
	<string>globalOptimizerInterval</string>
	<key>prevDecorationVelocity</key>
	<string>tabviewBridgeSkewy</string>
	<key>reactiveBuilderEdge</key>
	<string>segueSinceOperation</string>
	<key>synchronousTopicTint</key>
	<string>curveExceptParam</string>
	<key>topicStageVelocity</key>
	<string>dedicatedCheckboxLeft</string>
</dict>
</plist>
