<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileLogarithmBehavior</key>
	<string>assetOutsideStage</string>
	<key>animatedcontainerTempleInteraction</key>
	<string>paddingTierSkewx</string>
	<key>aspectAboutScope</key>
	<string>globalSubscriptionSkewy</string>
	<key>checkboxNumberStatus</key>
	<string>ephemeralStackOrientation</string>
	<key>particleAsComposite</key>
	<string>intensityBufferOrigin</string>
	<key>projectionVersusNumber</key>
	<string>denseStatelessMode</string>
	<key>smartSpineState</key>
	<string>commonOverlayBrightness</string>
	<key>subsequentPresenterTheme</key>
	<string>rectInterpreterVelocity</string>
</dict>
</plist>
