<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialImageRate</key>
	<string>routeContextSize</string>
	<key>featureDuringSystem</key>
	<string>painterOperationAlignment</string>
	<key>futureViaWork</key>
	<string>eventSinceScope</string>
	<key>interactorLikeLayer</key>
	<string>textInterpreterLeft</string>
	<key>liteProgressbarSpacing</key>
	<string>lazyGroupForce</string>
	<key>screenProcessTheme</key>
	<string>allocatorBeyondState</string>
	<key>uniformResolverAlignment</key>
	<string>persistentCursorLocation</string>
</dict>
</plist>
