<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityThanPrototype</key>
	<string>ephemeralSignatureVisible</string>
	<key>decorationMementoSize</key>
	<string>labelProxyBound</string>
	<key>masterPlatformColor</key>
	<string>methodThroughPhase</string>
	<key>nibSystemOrientation</key>
	<string>similarSinkAcceleration</string>
	<key>offsetKindTag</key>
	<string>heapTempleFlags</string>
	<key>shaderViaScope</key>
	<string>scenePatternColor</string>
	<key>storyboardAndMemento</key>
	<string>radioThanDecorator</string>
</dict>
</plist>
