<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectKindMode</key>
	<string>unsortedRichtextValidation</string>
	<key>euclideanConstraintAlignment</key>
	<string>referenceContextState</string>
	<key>fusedReductionInterval</key>
	<string>blocShapeEdge</string>
	<key>graphContainStrategy</key>
	<string>cubitForParam</string>
	<key>intensityAboutScope</key>
	<string>hashThroughState</string>
	<key>originalNodeDistance</key>
	<string>originalBoxshadowBehavior</string>
</dict>
</plist>
