<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisProxySpacing</key>
	<string>widgetFlyweightFlags</string>
	<key>completerAboutMediator</key>
	<string>immediateUsecaseBound</string>
	<key>coordinatorNearInterpreter</key>
	<string>functionalAccessoryDistance</string>
	<key>groupAtPlatform</key>
	<string>sustainableScaleState</string>
	<key>heapAwayAction</key>
	<string>cosineActivityInterval</string>
	<key>iterativeOptimizerIndex</key>
	<string>customCursorRotation</string>
	<key>seamlessCommandVisibility</key>
	<string>persistentTaskOrientation</string>
	<key>sineSinceBridge</key>
	<string>layerPrototypeType</string>
	<key>tangentInShape</key>
	<string>semanticGridviewInteraction</string>
	<key>viewStrategyTail</key>
	<string>providerWithVisitor</string>
</dict>
</plist>
