<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperVersusFunction</key>
	<string>reducerCommandShape</string>
	<key>controllerTempleOpacity</key>
	<string>titleJobName</string>
	<key>decorationFrameworkDelay</key>
	<string>listviewSingletonPosition</string>
	<key>factoryParameterPressure</key>
	<string>nextResultDirection</string>
	<key>grainBridgeFormat</key>
	<string>layerFromVar</string>
	<key>layerBesideActivity</key>
	<string>queryPerProxy</string>
	<key>publicStatelessVelocity</key>
	<string>boxDespiteMode</string>
</dict>
</plist>
