<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCapsuleTension</key>
	<string>directlyTaskPressure</string>
	<key>bufferChainHue</key>
	<string>mutableMapTail</string>
	<key>characterDespiteOperation</key>
	<string>viewJobScale</string>
	<key>delegateStyleDuration</key>
	<string>flexContextTag</string>
	<key>effectWithoutPrototype</key>
	<string>alignmentNearNumber</string>
	<key>labelParamIndex</key>
	<string>containerSinceValue</string>
	<key>pivotalAssetShade</key>
	<string>awaitOrMemento</string>
	<key>semanticAllocatorSize</key>
	<string>cubitAndMemento</string>
</dict>
</plist>
