<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianProtocolMode</key>
	<string>explicitPromiseInterval</string>
	<key>cosineJobMode</key>
	<string>tensorLocalizationAcceleration</string>
	<key>getxShapeSkewx</key>
	<string>playbackFlyweightResponse</string>
	<key>indicatorOrMethod</key>
	<string>sensorWorkIndex</string>
	<key>labelAgainstComposite</key>
	<string>delegateScopeDelay</string>
	<key>resilientBulletScale</key>
	<string>graphicFormAppearance</string>
	<key>temporaryMenuColor</key>
	<string>progressbarFlyweightMode</string>
</dict>
</plist>
