<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveResourceVelocity</key>
	<string>requestAmongTemple</string>
	<key>difficultIsolateLocation</key>
	<string>secondCupertinoHue</string>
	<key>futureFrameworkCount</key>
	<string>originalSignKind</string>
	<key>hierarchicalRouteVelocity</key>
	<string>retainedTweenDelay</string>
	<key>rectPerEnvironment</key>
	<string>positionAwayPhase</string>
	<key>secondSubscriptionCenter</key>
	<string>imperativeOffsetLeft</string>
	<key>tabbarWorkMode</key>
	<string>interfacePlatformDuration</string>
</dict>
</plist>
