<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeProviderDistance</key>
	<string>lazyPopupTension</string>
	<key>independentIntegerStyle</key>
	<string>adaptiveSpineDistance</string>
	<key>swiftAmongType</key>
	<string>stateBridgeCoord</string>
	<key>transitionSystemOpacity</key>
	<string>criticalMasterTension</string>
</dict>
</plist>
