<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAlongInterpreter</key>
	<string>substantialCacheInterval</string>
	<key>durationForPlatform</key>
	<string>overlaySinceSingleton</string>
	<key>exceptionLevelHue</key>
	<string>subsequentSlashPressure</string>
	<key>menuAboutInterpreter</key>
	<string>zoneAwayCycle</string>
	<key>queueSingletonSpacing</key>
	<string>channelsAwayPattern</string>
	<key>stepFacadeTail</key>
	<string>masterFlyweightOffset</string>
	<key>symbolTypeRight</key>
	<string>iterativeCheckboxScale</string>
</dict>
</plist>
