<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTaskPressure</key>
	<string>sequentialExponentTint</string>
	<key>disparateCompositionContrast</key>
	<string>transformerAtActivity</string>
	<key>grainMediatorInset</key>
	<string>completerInScope</string>
	<key>logarithmIncludeBuffer</key>
	<string>asyncThroughPlatform</string>
	<key>materialOutsideTask</key>
	<string>playbackOfPattern</string>
	<key>notificationExceptCycle</key>
	<string>visibleSpriteInteraction</string>
	<key>textfieldOrPlatform</key>
	<string>heapDecoratorState</string>
	<key>unactivatedDurationRight</key>
	<string>animatedcontainerAwayOperation</string>
</dict>
</plist>
