<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionContainFacade</key>
	<string>spriteModeRotation</string>
	<key>easyPlaybackEdge</key>
	<string>opaqueSlashFrequency</string>
	<key>geometricHandlerName</key>
	<string>channelWithoutStage</string>
	<key>graphicAmongParameter</key>
	<string>functionalLabelLocation</string>
	<key>operationObserverDirection</key>
	<string>cacheStyleScale</string>
	<key>semanticGridviewHue</key>
	<string>sizeSystemTail</string>
	<key>sizeOfCycle</key>
	<string>apertureActivityStyle</string>
	<key>textureAgainstPlatform</key>
	<string>sceneInterpreterCenter</string>
	<key>threadByPlatform</key>
	<string>particlePhaseBound</string>
</dict>
</plist>
