<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerDuringVisitor</key>
	<string>retainedLossRate</string>
	<key>delegateAwayFramework</key>
	<string>cartesianTweenCoord</string>
	<key>descriptionFacadeType</key>
	<string>zoneTempleSize</string>
	<key>draggableCompleterHue</key>
	<string>notificationPerType</string>
	<key>euclideanDescriptionFrequency</key>
	<string>skinBesideParam</string>
	<key>sophisticatedPetTension</key>
	<string>robustServiceSaturation</string>
	<key>topicContextCoord</key>
	<string>awaitVisitorKind</string>
</dict>
</plist>
