<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedDependencyTop</key>
	<string>persistentOptionOffset</string>
	<key>dedicatedAspectratioColor</key>
	<string>mutableAllocatorState</string>
	<key>graphicActivityVelocity</key>
	<string>delicateChannelsPosition</string>
</dict>
</plist>
