<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithMemento</key>
	<string>animatedcontainerMediatorInset</string>
	<key>blocAboutKind</key>
	<string>subscriptionOperationDirection</string>
	<key>isolateDespiteFlyweight</key>
	<string>animatedIconCoord</string>
	<key>observerAndVariable</key>
	<string>animationAlongForm</string>
	<key>playbackInInterpreter</key>
	<string>imperativePageviewDelay</string>
	<key>publicCubeDelay</key>
	<string>autoNavigatorSpeed</string>
	<key>touchInDecorator</key>
	<string>interactiveExpandedHead</string>
</dict>
</plist>
