<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetUntilStage</key>
	<string>inheritedPetDelay</string>
	<key>hardFeatureName</key>
	<string>composableActionAppearance</string>
	<key>priorCustompaintPressure</key>
	<string>durationEnvironmentCenter</string>
	<key>queryThroughSystem</key>
	<string>animatedcontainerChainBehavior</string>
	<key>resizableSignatureAppearance</key>
	<string>sliderStyleMargin</string>
</dict>
</plist>
