<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentActionInteraction</key>
	<string>missedLayoutFlags</string>
	<key>durationTierTop</key>
	<string>sharedResponseShade</string>
	<key>functionalGesturedetectorCenter</key>
	<string>dimensionKindVisibility</string>
	<key>lostFactoryBound</key>
	<string>smallTabbarFrequency</string>
	<key>otherCaptionRotation</key>
	<string>queryLikeMethod</string>
	<key>smallTransitionHead</key>
	<string>skirtBufferLeft</string>
	<key>streamOperationSpeed</key>
	<string>builderLayerAcceleration</string>
	<key>textAsWork</key>
	<string>viewOutsideStrategy</string>
	<key>toolInBuffer</key>
	<string>fragmentVarHead</string>
	<key>utilLayerMargin</key>
	<string>asyncMementoFrequency</string>
</dict>
</plist>
