<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerByDecorator</key>
	<string>flexThroughFacade</string>
	<key>comprehensiveAllocatorFormat</key>
	<string>eagerSpecifierVisibility</string>
	<key>constraintOutsideForm</key>
	<string>disparateTransitionForce</string>
	<key>effectOutsideJob</key>
	<string>allocatorTaskSkewx</string>
	<key>getxStyleBehavior</key>
	<string>positionEnvironmentState</string>
	<key>litePresenterForce</key>
	<string>deferredRequestRight</string>
	<key>nextSinkIndex</key>
	<string>certificateDecoratorBorder</string>
	<key>projectInsideDecorator</key>
	<string>typicalCompositionVelocity</string>
	<key>radiusStateInset</key>
	<string>storeForStrategy</string>
	<key>significantCharacterCoord</key>
	<string>sceneOutsideProxy</string>
</dict>
</plist>
