<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelLikeJob</key>
	<string>basicMusicInteraction</string>
	<key>explicitAssetAppearance</key>
	<string>webPopupForce</string>
	<key>indicatorInsideMode</key>
	<string>spineBeyondEnvironment</string>
	<key>intermediateSinkTail</key>
	<string>globalCallbackDuration</string>
	<key>operationTemplePosition</key>
	<string>constraintAroundVisitor</string>
	<key>progressbarOperationForce</key>
	<string>materialGrayscaleTop</string>
	<key>routerVisitorVisibility</key>
	<string>globalBrushFeedback</string>
</dict>
</plist>
