<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveInterfaceIndex</key>
	<string>pageviewBridgeBehavior</string>
	<key>asyncBinaryRight</key>
	<string>constraintWorkTag</string>
	<key>boxFunctionSkewy</key>
	<string>pointInLayer</string>
	<key>currentTextureAppearance</key>
	<string>providerActivityTint</string>
	<key>frameTierSpeed</key>
	<string>entityInSingleton</string>
	<key>isolateUntilKind</key>
	<string>nextSizeCenter</string>
	<key>reducerThanLayer</key>
	<string>canvasVersusSystem</string>
	<key>scrollablePositionedShape</key>
	<string>gateSingletonScale</string>
	<key>spineLikeLayer</key>
	<string>scaffoldUntilVisitor</string>
	<key>textTempleBorder</key>
	<string>intuitiveCoordinatorRight</string>
</dict>
</plist>
