<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentMethodName</key>
	<string>sortedDescriptorBrightness</string>
	<key>missedCallbackStyle</key>
	<string>aspectTempleState</string>
	<key>nativeRowStyle</key>
	<string>sizedboxContainObserver</string>
	<key>roleMementoAcceleration</key>
	<string>frameAtMemento</string>
	<key>typicalAssetTint</key>
	<string>providerAgainstBuffer</string>
	<key>usageSystemSkewx</key>
	<string>resilientGestureVisibility</string>
</dict>
</plist>
