<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCacheOffset</key>
	<string>hyperbolicSingletonType</string>
	<key>dedicatedTransformerScale</key>
	<string>frameInsideAdapter</string>
	<key>mediaqueryShapeContrast</key>
	<string>draggableNavigatorTension</string>
	<key>originalPreviewFlags</key>
	<string>observerObserverTension</string>
</dict>
</plist>
