<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorThroughFunction</key>
	<string>interactorWithStyle</string>
	<key>delicateDependencyTheme</key>
	<string>delicateGateBottom</string>
	<key>keyStateRight</key>
	<string>cubitVersusParameter</string>
	<key>spriteAsScope</key>
	<string>queryAsKind</string>
</dict>
</plist>
