<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedPetMode</key>
	<string>promiseInsideProcess</string>
	<key>completionViaState</key>
	<string>tableAboutBuffer</string>
	<key>granularHandlerSize</key>
	<string>sensorBesideBridge</string>
	<key>lossBufferEdge</key>
	<string>viewUntilMode</string>
	<key>modulusAtValue</key>
	<string>cursorThanAdapter</string>
	<key>queryLevelKind</key>
	<string>grayscaleAwayMethod</string>
	<key>responsiveDescriptionFrequency</key>
	<string>storyboardJobSpacing</string>
</dict>
</plist>
