<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellViaEnvironment</key>
	<string>dynamicEffectInteraction</string>
	<key>dynamicGraphTheme</key>
	<string>primaryImagePadding</string>
	<key>imperativeAlignmentDelay</key>
	<string>nibWithCycle</string>
	<key>labelEnvironmentDistance</key>
	<string>numericalToolSkewx</string>
	<key>largeConsumerSize</key>
	<string>functionalHeroAcceleration</string>
	<key>positionedSinceScope</key>
	<string>permissiveLossIndex</string>
	<key>sizeWorkSpacing</key>
	<string>fragmentPatternLocation</string>
</dict>
</plist>
