<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureLayerBrightness</key>
	<string>inactiveGestureTag</string>
	<key>associatedGroupRight</key>
	<string>documentShapeRight</string>
	<key>characterAndPrototype</key>
	<string>difficultResourceFormat</string>
	<key>completerOfPlatform</key>
	<string>sensorTaskDelay</string>
	<key>decorationLikeScope</key>
	<string>disabledWorkflowFrequency</string>
	<key>roleTypeCoord</key>
	<string>loopBufferOpacity</string>
	<key>scaffoldAlongCycle</key>
	<string>groupAlongState</string>
	<key>smartToolRate</key>
	<string>statelessCurveSize</string>
	<key>transitionThanState</key>
	<string>granularAnimatedcontainerInterval</string>
</dict>
</plist>
