<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAwaySingleton</key>
	<string>sequentialBaselinePosition</string>
	<key>entropyOutsideDecorator</key>
	<string>statefulTaskTag</string>
	<key>materialCursorStyle</key>
	<string>plateFacadeInterval</string>
	<key>toolContainContext</key>
	<string>rapidRequestInset</string>
</dict>
</plist>
