<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowByMemento</key>
	<string>sinkCommandInteraction</string>
	<key>hardTaskState</key>
	<string>injectionOperationOrigin</string>
	<key>reusableScaffoldFormat</key>
	<string>providerStrategyMomentum</string>
	<key>sinkLikeTask</key>
	<string>opaqueRequestInteraction</string>
	<key>standaloneFutureSpeed</key>
	<string>factoryWithoutPlatform</string>
</dict>
</plist>
