<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionAccessoryForce</key>
	<string>metadataAgainstJob</string>
	<key>capsuleContainPhase</key>
	<string>mediumFeatureSaturation</string>
	<key>custompaintAboutNumber</key>
	<string>customChartSpacing</string>
	<key>diversifiedOptionMargin</key>
	<string>convolutionAboutInterpreter</string>
	<key>getxStyleSkewx</key>
	<string>typicalRouteCoord</string>
	<key>spotActivityFormat</key>
	<string>numericalCapacitiesOrientation</string>
	<key>tweenCommandRight</key>
	<string>animationProxyCount</string>
	<key>usedStepRate</key>
	<string>gridChainTag</string>
	<key>workflowUntilFramework</key>
	<string>constControllerSkewx</string>
</dict>
</plist>
