<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentBeyondProcess</key>
	<string>pinchableUtilTheme</string>
	<key>hardThemeType</key>
	<string>viewNumberDepth</string>
	<key>materialShapePosition</key>
	<string>queryChainDepth</string>
	<key>providerViaVisitor</key>
	<string>routeMediatorName</string>
	<key>scaleExceptMethod</key>
	<string>sineLayerForce</string>
	<key>sinkWithoutParameter</key>
	<string>publicViewPressure</string>
	<key>uniformBufferTag</key>
	<string>workflowSincePrototype</string>
</dict>
</plist>
