<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFrameworkDensity</key>
	<string>entityDuringContext</string>
	<key>animationTierLocation</key>
	<string>ternaryVersusMode</string>
	<key>configurationIncludeObserver</key>
	<string>errorBesideScope</string>
	<key>durationByStage</key>
	<string>textAboutPlatform</string>
	<key>groupParameterFrequency</key>
	<string>activityActionFlags</string>
	<key>opaquePaddingRight</key>
	<string>channelActionCount</string>
	<key>profileActivityColor</key>
	<string>unactivatedPetLeft</string>
	<key>respectiveContainerMode</key>
	<string>transformerParamName</string>
	<key>subpixelIncludeEnvironment</key>
	<string>unactivatedConstraintTransparency</string>
	<key>unsortedDecorationAlignment</key>
	<string>segueStyleTheme</string>
</dict>
</plist>
