<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAdapterBehavior</key>
	<string>stackLikeStrategy</string>
	<key>bitrateAroundParameter</key>
	<string>consumerAlongVisitor</string>
	<key>blocMediatorCenter</key>
	<string>threadTaskName</string>
	<key>convolutionNearJob</key>
	<string>lastMethodTail</string>
	<key>isolateViaParam</key>
	<string>cartesianReductionType</string>
	<key>nodeByType</key>
	<string>equalizationVariablePressure</string>
	<key>popupContainComposite</key>
	<string>imageByNumber</string>
	<key>tangentOfActivity</key>
	<string>handlerKindForce</string>
	<key>uniformObserverSkewx</key>
	<string>inactiveNodeTheme</string>
</dict>
</plist>
