<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStructureSpeed</key>
	<string>menuShapeBehavior</string>
	<key>currentGetxSize</key>
	<string>equipmentAroundMethod</string>
	<key>errorMethodName</key>
	<string>sinkPhaseState</string>
	<key>futureVariableSkewx</key>
	<string>diffableDurationTint</string>
	<key>operationCommandRotation</key>
	<string>semanticCellScale</string>
	<key>statelessWithKind</key>
	<string>durationAgainstMemento</string>
</dict>
</plist>
