<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFlyweightTail</key>
	<string>effectThroughVar</string>
	<key>configurationFlyweightLeft</key>
	<string>giftAwayEnvironment</string>
	<key>enabledRequestDelay</key>
	<string>optimizerAsSingleton</string>
	<key>firstExceptionAcceleration</key>
	<string>explicitSpotPressure</string>
	<key>intuitiveBoxPosition</key>
	<string>smallBlocSpeed</string>
	<key>multiplicationVersusDecorator</key>
	<string>curveScopeOffset</string>
	<key>queueNearActivity</key>
	<string>desktopRowStyle</string>
	<key>seamlessSignatureShape</key>
	<string>logarithmAgainstNumber</string>
	<key>sharedGrayscalePadding</key>
	<string>canvasNearStructure</string>
	<key>textBufferFormat</key>
	<string>cubeTypeTransparency</string>
</dict>
</plist>
