<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeSizeBound</key>
	<string>consultativeChapterEdge</string>
	<key>draggableTextureVelocity</key>
	<string>sinkViaMethod</string>
	<key>finalFeatureBehavior</key>
	<string>functionalRowOrientation</string>
	<key>greatResultDistance</key>
	<string>singleCompositionTop</string>
	<key>opaqueDimensionValidation</key>
	<string>allocatorTempleMargin</string>
	<key>resultKindTension</key>
	<string>uniqueQueryName</string>
	<key>seamlessThemeFlags</key>
	<string>fusedManagerBound</string>
	<key>slashFrameworkOrigin</key>
	<string>responseAmongStructure</string>
	<key>statefulStoreSkewy</key>
	<string>disabledProfileCount</string>
</dict>
</plist>
