<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGemShape</key>
	<string>constraintAwayAdapter</string>
	<key>constraintInterpreterOffset</key>
	<string>resizableTernaryTop</string>
	<key>ephemeralNavigatorLeft</key>
	<string>awaitAdapterBrightness</string>
	<key>fixedTransitionResponse</key>
	<string>signatureStrategyTop</string>
	<key>hardRequestBrightness</key>
	<string>modelForEnvironment</string>
	<key>marginFromVariable</key>
	<string>textureIncludePlatform</string>
	<key>originalProjectionCount</key>
	<string>requiredProjectionDepth</string>
	<key>relationalLocalizationTheme</key>
	<string>presenterVisitorStatus</string>
</dict>
</plist>
