<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerResourceOffset</key>
	<string>futureBridgeState</string>
	<key>channelInPlatform</key>
	<string>mutableProtocolOrientation</string>
	<key>hashPlatformCoord</key>
	<string>callbackPhasePressure</string>
	<key>notificationAndMemento</key>
	<string>lostRouterRight</string>
	<key>requiredScaleOrigin</key>
	<string>constraintVersusTask</string>
	<key>standaloneErrorValidation</key>
	<string>bufferWithStyle</string>
	<key>stateFormSize</key>
	<string>durationPatternTag</string>
	<key>statefulDespiteCycle</key>
	<string>gemAroundState</string>
	<key>texturePlatformSpeed</key>
	<string>compositionalGateTail</string>
</dict>
</plist>
