<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerPaddingType</key>
	<string>semanticTweenVelocity</string>
	<key>layoutStructureSize</key>
	<string>coordinatorCompositePressure</string>
	<key>scaffoldStyleVisibility</key>
	<string>hardStreamCoord</string>
</dict>
</plist>
