<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionNearChain</key>
	<string>sharedConstraintAcceleration</string>
	<key>characterAroundVariable</key>
	<string>declarativeTextureOrigin</string>
	<key>cubitPerTemple</key>
	<string>prismaticHeapCenter</string>
	<key>progressbarValueTransparency</key>
	<string>inactiveBufferTint</string>
	<key>protectedEntropyBound</key>
	<string>subpixelModeLocation</string>
	<key>temporaryNibCoord</key>
	<string>hyperbolicInteractorShape</string>
	<key>widgetVersusContext</key>
	<string>listenerTierSaturation</string>
</dict>
</plist>
