<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAgainstBuffer</key>
	<string>disparateAlertMode</string>
	<key>constraintBeyondOperation</key>
	<string>elasticMarginSize</string>
	<key>durationFromMode</key>
	<string>builderOrOperation</string>
	<key>instructionCompositeSkewx</key>
	<string>streamStyleTransparency</string>
	<key>responseAdapterSize</key>
	<string>gridTaskTag</string>
	<key>scrollableEntropyEdge</key>
	<string>tangentLikeTask</string>
</dict>
</plist>
