<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSubpixelDensity</key>
	<string>taskSincePrototype</string>
	<key>certificateAboutFunction</key>
	<string>geometricIntensityInset</string>
	<key>inheritedMenuRight</key>
	<string>textureUntilTask</string>
	<key>interactorKindName</key>
	<string>immediateSwiftDepth</string>
	<key>labelAwayTier</key>
	<string>cycleInterpreterShape</string>
	<key>skirtPrototypeValidation</key>
	<string>concurrentMenuInteraction</string>
	<key>titleCycleShade</key>
	<string>tangentAgainstPattern</string>
	<key>utilFacadeOrigin</key>
	<string>cardParamDirection</string>
</dict>
</plist>
