<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousNotificationPadding</key>
	<string>compositionalLayoutDelay</string>
	<key>brushAboutFunction</key>
	<string>flexibleListenerFrequency</string>
	<key>greatCanvasDistance</key>
	<string>robustGateTag</string>
	<key>ignoredSwitchLocation</key>
	<string>seamlessChannelResponse</string>
	<key>methodStrategyShade</key>
	<string>autoSpineScale</string>
	<key>pivotalTouchCenter</key>
	<string>euclideanResourceLocation</string>
	<key>projectionAmongActivity</key>
	<string>capsuleOfNumber</string>
	<key>rowPatternTint</key>
	<string>exponentWorkCount</string>
	<key>sliderFacadeTension</key>
	<string>relationalRadiusKind</string>
</dict>
</plist>
