<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateEnvironmentRotation</key>
	<string>interactorPerShape</string>
	<key>eventSingletonColor</key>
	<string>nativeRoleVelocity</string>
	<key>extensionPrototypeFeedback</key>
	<string>unsortedTopicRate</string>
	<key>iconActivitySpacing</key>
	<string>cellWithoutVariable</string>
	<key>layoutStateBottom</key>
	<string>previewNumberTransparency</string>
	<key>pageviewOutsideCommand</key>
	<string>remainderBesideSystem</string>
	<key>pageviewVersusVariable</key>
	<string>metadataAdapterKind</string>
	<key>resilientUsecaseVelocity</key>
	<string>indicatorAdapterOrigin</string>
	<key>sliderPatternShade</key>
	<string>labelLevelRotation</string>
	<key>uniformNavigatorSkewx</key>
	<string>constraintAsFunction</string>
</dict>
</plist>
