<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultCurveTension</key>
	<string>utilBesideCommand</string>
	<key>equipmentAgainstDecorator</key>
	<string>criticalCollectionSaturation</string>
	<key>intermediateViewLocation</key>
	<string>topicAwaySystem</string>
	<key>layoutSingletonSaturation</key>
	<string>sceneKindHue</string>
	<key>semanticTextureDuration</key>
	<string>keyPositionTransparency</string>
	<key>variantActivityState</key>
	<string>granularEventSkewx</string>
</dict>
</plist>
