<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTopicValidation</key>
	<string>giftPerParam</string>
	<key>animatedResponseTint</key>
	<string>presenterAndPhase</string>
	<key>columnInActivity</key>
	<string>finalCustompaintType</string>
	<key>geometricLoopDirection</key>
	<string>otherProviderDuration</string>
	<key>iconOrObserver</key>
	<string>sceneWithKind</string>
	<key>immediateMenuEdge</key>
	<string>callbackAlongObserver</string>
	<key>intensityInsideType</key>
	<string>effectNearValue</string>
	<key>isolateBesideWork</key>
	<string>mobileAmongMode</string>
	<key>sophisticatedLoopMargin</key>
	<string>featureOperationAppearance</string>
	<key>stampWithType</key>
	<string>viewTierSaturation</string>
</dict>
</plist>
