<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isolateThanTier</key>
	<string>allocatorAmongVariable</string>
	<key>materialDelegateResponse</key>
	<string>logInActivity</string>
	<key>materialNearMethod</key>
	<string>durationParameterScale</string>
	<key>multiGradientAppearance</key>
	<string>enabledTextureTint</string>
	<key>statelessSkirtPressure</key>
	<string>sizeViaCycle</string>
</dict>
</plist>
