<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardReductionIndex</key>
	<string>containerExceptNumber</string>
	<key>bufferMediatorTint</key>
	<string>marginForKind</string>
	<key>fusedProviderLocation</key>
	<string>streamAboutCycle</string>
	<key>gridPrototypeKind</key>
	<string>grainDespiteCycle</string>
</dict>
</plist>
