<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledCompleterDensity</key>
	<string>geometricSwiftStyle</string>
	<key>integerKindScale</key>
	<string>hardCallbackTop</string>
	<key>pinchableRemainderRotation</key>
	<string>smallNodeInteraction</string>
	<key>routeBufferTheme</key>
	<string>apertureInStrategy</string>
	<key>significantDescriptionVelocity</key>
	<string>animationAmongVar</string>
	<key>specifierAndChain</key>
	<string>behaviorOutsideNumber</string>
</dict>
</plist>
