<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationProcessCount</key>
	<string>tensorRowResponse</string>
	<key>diversifiedOptimizerCenter</key>
	<string>configurationFromFunction</string>
	<key>interactorModeOrientation</key>
	<string>capsuleParamStatus</string>
	<key>symbolWorkRate</key>
	<string>opaqueChapterRight</string>
</dict>
</plist>
