<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerCommandSkewy</key>
	<string>timerThroughForm</string>
	<key>borderEnvironmentTag</key>
	<string>permanentPopupScale</string>
	<key>borderLayerKind</key>
	<string>spriteProxyCount</string>
	<key>consumerPhaseBottom</key>
	<string>resultCycleKind</string>
	<key>decorationStageResponse</key>
	<string>certificateAsFacade</string>
	<key>largeListenerInset</key>
	<string>positionBesideMethod</string>
	<key>nibForJob</key>
	<string>ignoredBuilderVelocity</string>
	<key>pivotalMatrixVisibility</key>
	<string>musicUntilBridge</string>
	<key>sinkMethodSize</key>
	<string>visibleStreamFormat</string>
</dict>
</plist>
