<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAwayDecorator</key>
	<string>gridviewExceptMemento</string>
	<key>constraintIncludeSingleton</key>
	<string>aspectratioAtStructure</string>
	<key>futureTierRate</key>
	<string>expandedAtPlatform</string>
	<key>heroShapeLeft</key>
	<string>staticTaskInteraction</string>
	<key>localizationTempleStyle</key>
	<string>boxObserverMargin</string>
	<key>marginFrameworkShape</key>
	<string>buttonProxyFrequency</string>
</dict>
</plist>
