<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorForEnvironment</key>
	<string>behaviorVisitorTag</string>
	<key>delicateSkinRight</key>
	<string>rectOrStage</string>
	<key>futureByLevel</key>
	<string>musicPrototypeLeft</string>
	<key>geometricTechniqueDuration</key>
	<string>baseFromState</string>
	<key>gesturedetectorTypeVisibility</key>
	<string>constraintValueOrigin</string>
	<key>labelPrototypeMode</key>
	<string>accessibleCaptionSkewy</string>
	<key>playbackDespiteContext</key>
	<string>retainedLogarithmTag</string>
	<key>reducerMethodCount</key>
	<string>resizableTableDepth</string>
	<key>skirtPatternBehavior</key>
	<string>constraintOfTemple</string>
	<key>timerViaEnvironment</key>
	<string>notifierOrParameter</string>
</dict>
</plist>
