<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedNotificationTag</key>
	<string>tangentFacadeDistance</string>
	<key>concurrentWidgetDirection</key>
	<string>scrollablePainterBorder</string>
	<key>constraintSinceFlyweight</key>
	<string>offsetMethodKind</string>
	<key>denseLayerShade</key>
	<string>overlayWithStrategy</string>
	<key>elasticSingletonTail</key>
	<string>basicLayoutCoord</string>
	<key>interactorAtVisitor</key>
	<string>topicTypeInset</string>
	<key>interpolationBufferInset</key>
	<string>specifyBinaryTheme</string>
	<key>particleBeyondProxy</key>
	<string>statefulResourceFrequency</string>
	<key>repositoryUntilValue</key>
	<string>dynamicProjectionTop</string>
</dict>
</plist>
