<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customDelegateDirection</key>
	<string>materialCaptionTail</string>
	<key>gradientVisitorCount</key>
	<string>handlerViaAction</string>
	<key>immutableTopicOrientation</key>
	<string>interactorSingletonCoord</string>
	<key>referenceDecoratorOrigin</key>
	<string>storeAsActivity</string>
	<key>rowTempleLeft</key>
	<string>immutableSinkMomentum</string>
	<key>scaffoldParameterDirection</key>
	<string>injectionThroughType</string>
	<key>singleTopicShape</key>
	<string>axisLikeShape</string>
	<key>textureBridgeTail</key>
	<string>declarativeDurationMode</string>
	<key>transitionForVariable</key>
	<string>substantialTimerOffset</string>
</dict>
</plist>
