<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNearProcess</key>
	<string>previewAlongAdapter</string>
	<key>compositionalRichtextTint</key>
	<string>oldSwitchDensity</string>
	<key>errorPrototypeContrast</key>
	<string>projectionProxyOrigin</string>
	<key>inkwellSingletonType</key>
	<string>textureCycleType</string>
	<key>localizationContainProxy</key>
	<string>sequentialConstraintAlignment</string>
	<key>mobileTweenAppearance</key>
	<string>allocatorTaskSize</string>
	<key>queueEnvironmentDirection</key>
	<string>mobileCosineStyle</string>
	<key>robustStampAppearance</key>
	<string>roleTierContrast</string>
	<key>scrollParameterEdge</key>
	<string>euclideanNodeDelay</string>
	<key>symbolOrValue</key>
	<string>coordinatorDespiteVariable</string>
</dict>
</plist>
