<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialCapsulePosition</key>
	<string>visiblePlateLocation</string>
	<key>customEntityName</key>
	<string>queryCompositeDuration</string>
	<key>invisibleCompleterName</key>
	<string>stepAwayStructure</string>
	<key>sinkVersusSystem</key>
	<string>cycleThanSingleton</string>
	<key>specifyQueueShade</key>
	<string>intermediateGesturedetectorStatus</string>
</dict>
</plist>
