<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGroupSaturation</key>
	<string>mediaPhaseBehavior</string>
	<key>builderPrototypeMargin</key>
	<string>animationStyleInterval</string>
	<key>channelsThroughStructure</key>
	<string>mobxParamState</string>
	<key>contractionLayerOffset</key>
	<string>reactiveMaterialRotation</string>
	<key>methodSystemPressure</key>
	<string>inactiveTextureHue</string>
	<key>streamObserverScale</key>
	<string>fragmentStyleRotation</string>
</dict>
</plist>
