<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalTaskBehavior</key>
	<string>sophisticatedProgressbarInterval</string>
	<key>hashAboutFacade</key>
	<string>notifierTempleDirection</string>
	<key>listviewStyleStyle</key>
	<string>associatedFutureBound</string>
	<key>normalSlashLeft</key>
	<string>interfaceShapeTag</string>
</dict>
</plist>
