<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedFutureShade</key>
	<string>deferredTitleShape</string>
	<key>asynchronousInterpolationInteraction</key>
	<string>semanticSliderIndex</string>
	<key>checklistVisitorAppearance</key>
	<string>techniquePerTask</string>
	<key>entityLayerLocation</key>
	<string>largeProviderAcceleration</string>
	<key>equipmentAsActivity</key>
	<string>animatedcontainerUntilJob</string>
	<key>particleViaParameter</key>
	<string>allocatorParamShade</string>
	<key>positionFacadeState</key>
	<string>litePositionedBehavior</string>
	<key>rapidCallbackTension</key>
	<string>discardedMusicBound</string>
	<key>sliderValueAlignment</key>
	<string>descriptionJobTheme</string>
	<key>viewBesideDecorator</key>
	<string>isolateBeyondPrototype</string>
</dict>
</plist>
