<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedGridCenter</key>
	<string>semanticsProxyVisible</string>
	<key>aspectTempleRight</key>
	<string>missedChannelsDensity</string>
	<key>boxshadowAsNumber</key>
	<string>offsetProxyShape</string>
	<key>compositionalResponseDelay</key>
	<string>hardThemeResponse</string>
	<key>localizationProxyVisibility</key>
	<string>presenterTemplePosition</string>
	<key>mediocreControllerBound</key>
	<string>alertAmongAction</string>
	<key>mutableVectorDelay</key>
	<string>sortedFeatureMomentum</string>
	<key>projectionPrototypeOrientation</key>
	<string>smallRepositoryInteraction</string>
	<key>tickerScopeAcceleration</key>
	<string>progressbarFrameworkBottom</string>
</dict>
</plist>
