<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStructureDistance</key>
	<string>singletonAndPrototype</string>
	<key>dedicatedColumnAcceleration</key>
	<string>aspectratioChainPadding</string>
	<key>notifierJobBehavior</key>
	<string>curveAdapterStatus</string>
	<key>parallelOffsetHead</key>
	<string>behaviorNumberInterval</string>
	<key>pointActionType</key>
	<string>adaptiveProjectionSpacing</string>
	<key>sceneAtFacade</key>
	<string>opaqueParticleOpacity</string>
</dict>
</plist>
