<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSinceSystem</key>
	<string>asyncOperationSkewx</string>
	<key>boxActivityAppearance</key>
	<string>buttonAsNumber</string>
	<key>enabledNavigatorBound</key>
	<string>factoryAmongForm</string>
	<key>entropyContainActivity</key>
	<string>symmetricStateBound</string>
	<key>extensionPatternShape</key>
	<string>observerByStructure</string>
	<key>memberFacadeContrast</key>
	<string>brushWorkMomentum</string>
	<key>musicStageTint</key>
	<string>channelDuringObserver</string>
	<key>oldFactorySkewx</key>
	<string>consultativeGemFeedback</string>
	<key>semanticsBufferBrightness</key>
	<string>rectSingletonShape</string>
	<key>usageViaStyle</key>
	<string>agileIconContrast</string>
</dict>
</plist>
