<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertKindSaturation</key>
	<string>viewTempleKind</string>
	<key>chapterFunctionStyle</key>
	<string>curveJobTheme</string>
	<key>expandedInKind</key>
	<string>inheritedTaskStyle</string>
	<key>lazyCoordinatorCount</key>
	<string>tweenAmongParameter</string>
	<key>nodeParamInset</key>
	<string>rectKindAppearance</string>
	<key>offsetWithStrategy</key>
	<string>columnWorkTint</string>
	<key>projectAlongCommand</key>
	<string>globalSessionTransparency</string>
	<key>sizeAmongFacade</key>
	<string>injectionAndBridge</string>
</dict>
</plist>
