<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashDuringForm</key>
	<string>errorWithoutStyle</string>
	<key>paddingTaskOrientation</key>
	<string>providerOperationMode</string>
	<key>particleExceptStructure</key>
	<string>eventBesideParameter</string>
	<key>spriteInsideObserver</key>
	<string>tableCommandTint</string>
</dict>
</plist>
