<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>largeStateMomentum</key>
	<string>tabviewFunctionInset</string>
	<key>particleObserverMode</key>
	<string>arithmeticAwaitPadding</string>
	<key>reducerSingletonSpeed</key>
	<string>pageviewLayerMomentum</string>
	<key>symmetricTextInteraction</key>
	<string>concreteSemanticsContrast</string>
	<key>synchronousIndicatorSaturation</key>
	<string>sophisticatedClipperCount</string>
</dict>
</plist>
