<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseRouteKind</key>
	<string>protocolContainFramework</string>
	<key>errorInNumber</key>
	<string>euclideanPageviewType</string>
	<key>interfaceThanVisitor</key>
	<string>resultFacadeMomentum</string>
	<key>sizeForComposite</key>
	<string>chartWithDecorator</string>
</dict>
</plist>
