<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengePerValue</key>
	<string>ignoredLoopTop</string>
	<key>draggableBinaryTop</key>
	<string>errorProcessTheme</string>
	<key>lostRouteTransparency</key>
	<string>listenerStageSpeed</string>
	<key>statelessOutsidePlatform</key>
	<string>behaviorThroughProxy</string>
</dict>
</plist>
