<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCardPressure</key>
	<string>modelVersusObserver</string>
	<key>crucialMemberAcceleration</key>
	<string>mediocreInjectionDepth</string>
	<key>cubitMethodEdge</key>
	<string>equalizationEnvironmentType</string>
	<key>sizeLevelAlignment</key>
	<string>localConstraintSize</string>
	<key>symmetricMenuTail</key>
	<string>opaquePreviewShape</string>
</dict>
</plist>
