<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSystemBorder</key>
	<string>equipmentPlatformStyle</string>
	<key>anchorModeSpacing</key>
	<string>listviewAtPhase</string>
	<key>cartesianTableAppearance</key>
	<string>swiftAmongMediator</string>
	<key>dimensionParamDuration</key>
	<string>stackFlyweightTint</string>
	<key>effectObserverContrast</key>
	<string>observerLayerEdge</string>
	<key>firstDependencyState</key>
	<string>draggableBlocCenter</string>
	<key>projectSinceMemento</key>
	<string>diversifiedSizedboxOrientation</string>
	<key>reductionLikeCycle</key>
	<string>customizedStreamDelay</string>
	<key>taskDuringPlatform</key>
	<string>commandInterpreterInset</string>
	<key>textThroughCommand</key>
	<string>denseWidgetCount</string>
</dict>
</plist>
