<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAmongAdapter</key>
	<string>dimensionTypeBehavior</string>
	<key>arithmeticBridgeFrequency</key>
	<string>optionCycleTheme</string>
	<key>arithmeticObserverTransparency</key>
	<string>hardPainterAppearance</string>
	<key>dropdownbuttonFlyweightOrientation</key>
	<string>sustainablePetRotation</string>
	<key>intensityCommandInterval</key>
	<string>autoBatchInteraction</string>
	<key>mainShaderTint</key>
	<string>draggableProtocolBottom</string>
	<key>offsetTempleForce</key>
	<string>robustEntropyCoord</string>
	<key>transformerWithKind</key>
	<string>streamBeyondFlyweight</string>
</dict>
</plist>
