<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleGrayscaleBehavior</key>
	<string>transitionOrTier</string>
	<key>blocLikeLevel</key>
	<string>graphCompositeRight</string>
	<key>priorityOrMethod</key>
	<string>denseErrorFormat</string>
	<key>repositoryAtTemple</key>
	<string>unsortedHashDelay</string>
	<key>singletonMediatorPressure</key>
	<string>spriteTaskResponse</string>
	<key>tabviewCompositeBorder</key>
	<string>futureProxyLocation</string>
	<key>visibleGramHead</key>
	<string>desktopEqualizationDepth</string>
</dict>
</plist>
