<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionAtJob</key>
	<string>rowVarInterval</string>
	<key>providerModeDuration</key>
	<string>getxThanKind</string>
	<key>resilientPositionedColor</key>
	<string>textForValue</string>
	<key>resilientUsageAcceleration</key>
	<string>exponentCycleDepth</string>
</dict>
</plist>
