<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationNearBuffer</key>
	<string>sinkStateAcceleration</string>
	<key>diffableTweenFormat</key>
	<string>statelessWithoutFlyweight</string>
	<key>exceptionMementoSaturation</key>
	<string>greatRemainderHue</string>
	<key>kernelPerStructure</key>
	<string>textfieldModeLeft</string>
	<key>lostWidgetTop</key>
	<string>delicateCoordinatorTension</string>
	<key>prevResolverCoord</key>
	<string>interactorModeInterval</string>
</dict>
</plist>
