<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAgainstComposite</key>
	<string>lostProviderTag</string>
	<key>cubeAsType</key>
	<string>gateAndTemple</string>
	<key>groupCycleVelocity</key>
	<string>activityViaContext</string>
	<key>independentAccessoryDensity</key>
	<string>associatedConstraintBottom</string>
	<key>monsterOrEnvironment</key>
	<string>otherSignatureFeedback</string>
	<key>primaryMenuState</key>
	<string>capsuleObserverVelocity</string>
	<key>publicImageMargin</key>
	<string>flexibleNibMode</string>
	<key>reducerSingletonFrequency</key>
	<string>chartAdapterCoord</string>
	<key>subscriptionNumberTail</key>
	<string>menuPhaseTint</string>
</dict>
</plist>
