<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncProjectForce</key>
	<string>loopChainVelocity</string>
	<key>asyncVersusCycle</key>
	<string>reductionPerTemple</string>
	<key>basicCurveContrast</key>
	<string>activeTextureSize</string>
	<key>boxshadowObserverStyle</key>
	<string>requiredFragmentFrequency</string>
	<key>commandThroughForm</key>
	<string>segueDecoratorIndex</string>
	<key>consultativeEntityEdge</key>
	<string>rowExceptKind</string>
	<key>cubitActivityOpacity</key>
	<string>integerVisitorMode</string>
	<key>elasticMethodPosition</key>
	<string>imperativeAxisName</string>
	<key>singletonSystemVelocity</key>
	<string>pointStructureCoord</string>
	<key>unaryFunctionVelocity</key>
	<string>exceptionScopeDepth</string>
</dict>
</plist>
