<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardLogarithmType</key>
	<string>alertScopeTint</string>
	<key>characterProcessTint</key>
	<string>synchronousQueryEdge</string>
	<key>elasticGradientOpacity</key>
	<string>apertureChainStatus</string>
	<key>mainViewSize</key>
	<string>permissiveSymbolPressure</string>
	<key>semanticConstraintType</key>
	<string>decorationOrLevel</string>
	<key>standalonePositionSpeed</key>
	<string>modulusProxyFeedback</string>
</dict>
</plist>
