<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousWidgetAppearance</key>
	<string>themeProcessBound</string>
	<key>cursorFormTail</key>
	<string>concreteBufferRate</string>
	<key>momentumForStyle</key>
	<string>threadVariableMargin</string>
	<key>permanentEventBehavior</key>
	<string>activatedBaselineBound</string>
	<key>reducerContainMethod</key>
	<string>particleInCycle</string>
	<key>secondControllerPressure</key>
	<string>rowParamSaturation</string>
	<key>significantMenuType</key>
	<string>kernelFacadeKind</string>
	<key>sliderAndChain</key>
	<string>smallCommandDensity</string>
</dict>
</plist>
