<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineTempleOrigin</key>
	<string>cacheFunctionResponse</string>
	<key>desktopDropdownbuttonInset</key>
	<string>relationalResponseCenter</string>
	<key>retainedThemeFlags</key>
	<string>dependencyFlyweightColor</string>
	<key>widgetDespiteOperation</key>
	<string>composableMetadataShape</string>
</dict>
</plist>
