<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInsideShape</key>
	<string>routerAroundStage</string>
	<key>bulletAndVisitor</key>
	<string>missionTempleTag</string>
	<key>enabledFrameAcceleration</key>
	<string>singletonAtAdapter</string>
	<key>frameProcessVelocity</key>
	<string>controllerContextDensity</string>
	<key>petViaFlyweight</key>
	<string>utilSincePhase</string>
	<key>prismaticInkwellValidation</key>
	<string>resolverBridgeRotation</string>
	<key>requestActionTransparency</key>
	<string>secondMetadataBorder</string>
	<key>widgetViaFunction</key>
	<string>observerStructureMomentum</string>
</dict>
</plist>
