<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardKernelStatus</key>
	<string>hardNavigationLeft</string>
	<key>channelMementoTint</key>
	<string>semanticTextureBehavior</string>
	<key>characterBridgeShape</key>
	<string>titleMethodStyle</string>
	<key>commonIconSpeed</key>
	<string>spriteAroundMethod</string>
	<key>labelForType</key>
	<string>metadataWorkForce</string>
	<key>notificationThanMethod</key>
	<string>observerFromKind</string>
	<key>rowStrategyFrequency</key>
	<string>sharedRectMode</string>
	<key>utilDespiteMode</key>
	<string>modelViaPattern</string>
</dict>
</plist>
