<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerDespiteActivity</key>
	<string>backwardStreamFormat</string>
	<key>constTimerTension</key>
	<string>constraintWithValue</string>
	<key>curveCommandTension</key>
	<string>disparateBufferFrequency</string>
	<key>nextStatelessIndex</key>
	<string>cosineFromTask</string>
	<key>reducerByVisitor</key>
	<string>alphaVisitorVelocity</string>
	<key>sizeStyleContrast</key>
	<string>subsequentFactoryHue</string>
	<key>timerMediatorBound</key>
	<string>agileCaptionName</string>
</dict>
</plist>
