<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstPrototype</key>
	<string>tabviewInStructure</string>
	<key>buttonAsNumber</key>
	<string>constraintMementoAppearance</string>
	<key>challengePerForm</key>
	<string>concurrentNavigationForce</string>
	<key>consumerShapeSkewx</key>
	<string>buttonInterpreterEdge</string>
	<key>diversifiedStoreTag</key>
	<string>mainCycleFormat</string>
	<key>semanticSemanticsForce</key>
	<string>serviceStageFlags</string>
</dict>
</plist>
