<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitInForm</key>
	<string>utilStateEdge</string>
	<key>axisWorkState</key>
	<string>batchCompositeType</string>
	<key>completerAlongScope</key>
	<string>symmetricPrecisionFormat</string>
	<key>greatBlocDelay</key>
	<string>crudeSpineInteraction</string>
	<key>mediocreGrainInterval</key>
	<string>symbolParamStyle</string>
	<key>publicBufferVelocity</key>
	<string>inactiveBinaryFlags</string>
	<key>referenceDespiteType</key>
	<string>semanticSceneVisibility</string>
	<key>segueUntilTask</key>
	<string>coordinatorOperationTransparency</string>
	<key>specifierLevelCoord</key>
	<string>sampleLevelBound</string>
	<key>standaloneQueryFlags</key>
	<string>methodNumberFeedback</string>
</dict>
</plist>
