<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarProxyAlignment</key>
	<string>entityContextScale</string>
	<key>cubeModeVisible</key>
	<string>asyncIndicatorTransparency</string>
	<key>managerInsideVisitor</key>
	<string>robustSkinLocation</string>
	<key>persistentGesturedetectorDensity</key>
	<string>stepThanFacade</string>
	<key>radiusNearStyle</key>
	<string>canvasDecoratorShade</string>
	<key>reductionAsValue</key>
	<string>layoutValueType</string>
	<key>richtextStyleShade</key>
	<string>entityParameterKind</string>
	<key>sampleLikeBridge</key>
	<string>alignmentWithoutContext</string>
	<key>substantialSpriteRate</key>
	<string>robustRepositoryTint</string>
</dict>
</plist>
