<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredSignatureInterval</key>
	<string>textStyleValidation</string>
	<key>delegateMediatorHue</key>
	<string>playbackScopeForce</string>
	<key>inheritedChannelSkewy</key>
	<string>nibActivityHead</string>
	<key>synchronousSensorPosition</key>
	<string>eventTierLocation</string>
	<key>topicDuringSingleton</key>
	<string>overlayParameterCount</string>
</dict>
</plist>
