<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>featureTypeMomentum</key>
	<string>controllerStructureFormat</string>
	<key>groupUntilTemple</key>
	<string>boxshadowTempleDepth</string>
	<key>mobileMementoSkewx</key>
	<string>cupertinoWithEnvironment</string>
</dict>
</plist>
