<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateExceptSingleton</key>
	<string>dependencyBesideObserver</string>
	<key>draggableSessionShape</key>
	<string>aspectratioOrJob</string>
	<key>effectContainKind</key>
	<string>multiProgressbarSaturation</string>
	<key>mediumFlexSpacing</key>
	<string>marginBufferTheme</string>
	<key>offsetInsideNumber</key>
	<string>aspectEnvironmentContrast</string>
	<key>queueDuringTier</key>
	<string>brushNearStructure</string>
	<key>radioTaskBorder</key>
	<string>modelBufferOffset</string>
	<key>rowPatternContrast</key>
	<string>textureJobName</string>
</dict>
</plist>
