<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyMenuPosition</key>
	<string>binaryTierName</string>
	<key>expandedMementoTag</key>
	<string>rectUntilProcess</string>
	<key>labelVarEdge</key>
	<string>localizationActivityColor</string>
	<key>mediaqueryOutsideFunction</key>
	<string>singleSineFormat</string>
	<key>normalAllocatorHead</key>
	<string>interfaceFromLayer</string>
	<key>resourceScopeSaturation</key>
	<string>intermediateMetadataDuration</string>
	<key>secondNotificationDirection</key>
	<string>positionedOperationTint</string>
	<key>tangentModeInset</key>
	<string>fusedBlocSize</string>
</dict>
</plist>
