<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoBlocValidation</key>
	<string>remainderAwayFacade</string>
	<key>effectProcessVisibility</key>
	<string>reusableAsyncLeft</string>
	<key>giftBeyondEnvironment</key>
	<string>backwardNavigationEdge</string>
	<key>handlerAgainstNumber</key>
	<string>retainedBuilderTop</string>
	<key>integerContainTier</key>
	<string>mediumAnchorInterval</string>
	<key>intermediateMusicFeedback</key>
	<string>sceneNearForm</string>
	<key>labelThanVar</key>
	<string>multiStorageSpacing</string>
	<key>temporaryBoxFrequency</key>
	<string>denseReferenceContrast</string>
</dict>
</plist>
