<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncContainerState</key>
	<string>providerPlatformRotation</string>
	<key>decorationInDecorator</key>
	<string>sustainableSpineMargin</string>
	<key>discardedIntegerTint</key>
	<string>priorResultDensity</string>
	<key>eagerScreenResponse</key>
	<string>tabbarSystemDelay</string>
	<key>interfaceOrContext</key>
	<string>fixedPreviewDistance</string>
	<key>missedSceneOrientation</key>
	<string>permanentCellIndex</string>
	<key>oldDialogsPressure</key>
	<string>immutableNormLeft</string>
	<key>singletonAgainstKind</key>
	<string>providerAsLayer</string>
	<key>substantialCycleShade</key>
	<string>intensityAgainstOperation</string>
	<key>tweenBridgeCenter</key>
	<string>parallelAlignmentStyle</string>
</dict>
</plist>
