<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerSinceParam</key>
	<string>assetDuringAction</string>
	<key>apertureDespiteProxy</key>
	<string>concreteChartName</string>
	<key>eagerViewScale</key>
	<string>awaitAboutTask</string>
	<key>momentumAgainstStrategy</key>
	<string>activityProcessVisible</string>
	<key>paddingOutsideAdapter</key>
	<string>blocBufferInterval</string>
	<key>spineFlyweightBound</key>
	<string>overlayContainType</string>
	<key>taskMediatorIndex</key>
	<string>popupMethodValidation</string>
	<key>textureDuringForm</key>
	<string>adaptiveGateRotation</string>
	<key>textureVariableMode</key>
	<string>textNearMediator</string>
</dict>
</plist>
