<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoEffectDuration</key>
	<string>modulusVarSpacing</string>
	<key>cellInterpreterSkewx</key>
	<string>segueTypeDepth</string>
	<key>temporarySignatureDensity</key>
	<string>columnSingletonTransparency</string>
	<key>tweenScopeOrigin</key>
	<string>entityWithoutComposite</string>
	<key>vectorPerMode</key>
	<string>titleLikeVariable</string>
</dict>
</plist>
