<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocChainName</key>
	<string>semanticInterfaceScale</string>
	<key>dynamicProtocolMode</key>
	<string>swiftStateAppearance</string>
	<key>prevChannelIndex</key>
	<string>routerAlongDecorator</string>
	<key>robustTransformerRate</key>
	<string>titleVisitorName</string>
	<key>viewVersusTask</key>
	<string>usedCoordinatorDistance</string>
</dict>
</plist>
