<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorFacadeFlags</key>
	<string>momentumOfDecorator</string>
	<key>modelParameterShade</key>
	<string>masterTempleHead</string>
	<key>normValueTransparency</key>
	<string>collectionActionOrientation</string>
	<key>relationalSizedboxColor</key>
	<string>zoneCycleMargin</string>
	<key>responseIncludeFunction</key>
	<string>symbolInTemple</string>
	<key>retainedQueryBrightness</key>
	<string>providerObserverShade</string>
	<key>signatureLevelScale</key>
	<string>durationSystemSize</string>
</dict>
</plist>
