<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionByKind</key>
	<string>diffableIndicatorState</string>
	<key>hierarchicalCertificateTransparency</key>
	<string>grainAwayProcess</string>
	<key>navigatorThroughMode</key>
	<string>isolatePatternValidation</string>
	<key>richtextActivityOpacity</key>
	<string>dependencyUntilSingleton</string>
	<key>sceneAdapterInteraction</key>
	<string>textfieldStrategySpeed</string>
	<key>subpixelNumberTint</key>
	<string>directlyIntegerTransparency</string>
	<key>workflowDuringActivity</key>
	<string>arithmeticForDecorator</string>
</dict>
</plist>
