<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationVisitorSize</key>
	<string>tweenFlyweightStatus</string>
	<key>exceptionByStrategy</key>
	<string>painterOrStructure</string>
	<key>grainNearTask</key>
	<string>publicChapterVelocity</string>
	<key>granularProgressbarFrequency</key>
	<string>brushAroundPrototype</string>
	<key>listenerWorkTop</key>
	<string>observerStyleHead</string>
	<key>positionVisitorTransparency</key>
	<string>optimizerDespiteStrategy</string>
	<key>previewPrototypeBorder</key>
	<string>behaviorFromFramework</string>
	<key>routerTaskStyle</key>
	<string>screenProcessStyle</string>
	<key>transitionActivityBound</key>
	<string>directlyChannelTag</string>
	<key>variantNearStrategy</key>
	<string>directLayoutBehavior</string>
</dict>
</plist>
