<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianNodeTheme</key>
	<string>errorParamBottom</string>
	<key>globalProfileDepth</key>
	<string>denseCapsuleCenter</string>
	<key>marginCycleOrigin</key>
	<string>matrixFromOperation</string>
	<key>numericalBehaviorIndex</key>
	<string>giftDespiteEnvironment</string>
	<key>otherNodeOrigin</key>
	<string>associatedLogMargin</string>
	<key>segueOfOperation</key>
	<string>explicitConfigurationInteraction</string>
</dict>
</plist>
