<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveTweenForce</key>
	<string>rowBeyondChain</string>
	<key>nodeProcessOrientation</key>
	<string>utilProcessInset</string>
	<key>tableOutsideAction</key>
	<string>nextMenuDistance</string>
	<key>themeContainTemple</key>
	<string>indicatorAdapterName</string>
</dict>
</plist>
