<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterByAdapter</key>
	<string>commandThroughBridge</string>
	<key>customToolBottom</key>
	<string>pageviewPerObserver</string>
	<key>elasticSubpixelTransparency</key>
	<string>exponentThroughForm</string>
	<key>routerDuringVar</key>
	<string>getxActionTop</string>
	<key>scrollOfActivity</key>
	<string>priorSpineHead</string>
	<key>sessionAmongProxy</key>
	<string>singlePreviewDensity</string>
</dict>
</plist>
