<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAsAdapter</key>
	<string>awaitVersusInterpreter</string>
	<key>directWidgetForce</key>
	<string>concreteStoreSaturation</string>
	<key>directlyInteractorCoord</key>
	<string>intuitiveTopicTension</string>
	<key>documentTypeAppearance</key>
	<string>symbolTypeBound</string>
	<key>methodContextBrightness</key>
	<string>liteMapOrientation</string>
	<key>permissiveSinkAlignment</key>
	<string>associatedNavigatorSaturation</string>
	<key>providerLevelInteraction</key>
	<string>consultativeEffectTail</string>
	<key>requestNearContext</key>
	<string>buttonFormTail</string>
	<key>routeProxyColor</key>
	<string>hierarchicalFragmentForce</string>
	<key>scaffoldPerChain</key>
	<string>seamlessSkinBehavior</string>
</dict>
</plist>
