<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logarithmNumberRotation</key>
	<string>symmetricSliderInterval</string>
	<key>mediocreDurationRotation</key>
	<string>eagerBuilderHead</string>
	<key>momentumProcessStatus</key>
	<string>resizableManagerMomentum</string>
	<key>usedConstraintSpeed</key>
	<string>titleStateBrightness</string>
</dict>
</plist>
