<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localInkwellTheme</key>
	<string>inkwellAtStrategy</string>
	<key>protocolDuringKind</key>
	<string>difficultCursorMode</string>
	<key>statelessTransitionFeedback</key>
	<string>featureViaCycle</string>
	<key>synchronousCertificateOrientation</key>
	<string>agileListenerDensity</string>
</dict>
</plist>
