<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeLabelFeedback</key>
	<string>queryFacadeRate</string>
	<key>directUtilTheme</key>
	<string>multiListviewTransparency</string>
	<key>gesturedetectorInsideTask</key>
	<string>monsterBeyondSystem</string>
	<key>rolePerMediator</key>
	<string>missedLayerShade</string>
	<key>significantReferenceBound</key>
	<string>basePlatformInterval</string>
	<key>spriteParamDirection</key>
	<string>storeModePressure</string>
	<key>widgetSingletonVisibility</key>
	<string>zoneOutsideStructure</string>
	<key>zoneSingletonFlags</key>
	<string>gridviewTypeTag</string>
</dict>
</plist>
