<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerExceptTier</key>
	<string>layoutOfBridge</string>
	<key>descriptorTempleContrast</key>
	<string>reducerSystemBound</string>
	<key>managerByOperation</key>
	<string>mediaqueryTaskTransparency</string>
	<key>textVarTension</key>
	<string>exceptionTaskHue</string>
</dict>
</plist>
