<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionCompositeHue</key>
	<string>rectDecoratorVelocity</string>
	<key>coordinatorAsChain</key>
	<string>navigatorSystemMomentum</string>
	<key>difficultLossForce</key>
	<string>notificationUntilInterpreter</string>
	<key>frameChainName</key>
	<string>integerStyleFrequency</string>
	<key>permissiveSensorOffset</key>
	<string>utilActivityTag</string>
	<key>protocolForParameter</key>
	<string>synchronousCubitRate</string>
	<key>rowActionBound</key>
	<string>concretePageviewFlags</string>
	<key>scrollableResourceEdge</key>
	<string>queueForPhase</string>
	<key>shaderPerChain</key>
	<string>advancedEffectSkewy</string>
</dict>
</plist>
