<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFacadeTint</key>
	<string>optimizerBufferShape</string>
	<key>directVariantMargin</key>
	<string>intensityAmongStage</string>
	<key>largeSkirtShape</key>
	<string>profileAsCommand</string>
	<key>referenceTypeAppearance</key>
	<string>grainVisitorBorder</string>
</dict>
</plist>
