<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintShapeFrequency</key>
	<string>reactiveDurationLocation</string>
	<key>entityDecoratorBottom</key>
	<string>graphParameterDensity</string>
	<key>intuitiveReductionInterval</key>
	<string>resourceTaskInterval</string>
	<key>listenerFromJob</key>
	<string>modulusInsideTemple</string>
	<key>particlePerObserver</key>
	<string>statelessInstructionDirection</string>
	<key>protocolOperationBorder</key>
	<string>asyncAlertFrequency</string>
	<key>resourceNearNumber</key>
	<string>stampAroundLevel</string>
	<key>taskProcessLocation</key>
	<string>bufferFunctionInterval</string>
	<key>zonePerContext</key>
	<string>hyperbolicWorkflowDensity</string>
</dict>
</plist>
