<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pageviewInLevel</key>
	<string>providerFunctionCount</string>
	<key>publicPreviewFormat</key>
	<string>extensionTempleMomentum</string>
	<key>sineShapeSkewx</key>
	<string>fragmentFacadeInset</string>
	<key>storageLikeOperation</key>
	<string>prevAsyncFrequency</string>
</dict>
</plist>
