<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameBesideType</key>
	<string>previewAndFramework</string>
	<key>gemAndChain</key>
	<string>modelStageTheme</string>
	<key>popupAgainstType</key>
	<string>prevConstraintTail</string>
	<key>projectParameterDepth</key>
	<string>coordinatorAsNumber</string>
	<key>reducerActivityShape</key>
	<string>chapterIncludeSingleton</string>
	<key>singletonWithStage</key>
	<string>aspectratioAmongStage</string>
	<key>stampWithMethod</key>
	<string>vectorOfScope</string>
</dict>
</plist>
