<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetExceptValue</key>
	<string>widgetByState</string>
	<key>commandDuringWork</key>
	<string>canvasVisitorColor</string>
	<key>ignoredReducerTheme</key>
	<string>usageMethodOrigin</string>
	<key>observerContextAlignment</key>
	<string>queryViaJob</string>
	<key>permissiveSemanticsTint</key>
	<string>substantialDelegateTag</string>
	<key>precisionFunctionMode</key>
	<string>previewAboutLayer</string>
	<key>subscriptionThanShape</key>
	<string>rapidCurveDuration</string>
</dict>
</plist>
