<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetPlatformDensity</key>
	<string>baselineAmongSingleton</string>
	<key>menuDecoratorInterval</key>
	<string>petBufferCoord</string>
	<key>pageviewAgainstMediator</key>
	<string>interactorObserverSkewx</string>
	<key>queryVariableStatus</key>
	<string>autoSliderMomentum</string>
	<key>staticPriorityIndex</key>
	<string>featureIncludeObserver</string>
</dict>
</plist>
