<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoRiverpodDelay</key>
	<string>crudeZoneIndex</string>
	<key>criticalIntegerBrightness</key>
	<string>riverpodAwayActivity</string>
	<key>desktopDocumentBorder</key>
	<string>lastCompleterHead</string>
	<key>intensityFrameworkColor</key>
	<string>customResourceAlignment</string>
	<key>permanentStepPadding</key>
	<string>precisionActivityKind</string>
</dict>
</plist>
