<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxWithTemple</key>
	<string>previewStrategyFrequency</string>
	<key>crucialWidgetHead</key>
	<string>backwardRectKind</string>
	<key>delegateTypeStatus</key>
	<string>cupertinoAmongBuffer</string>
	<key>directInteractorValidation</key>
	<string>rowNumberTop</string>
	<key>lazyFutureFlags</key>
	<string>durationAndStructure</string>
	<key>missedCursorOffset</key>
	<string>resizableDelegateShape</string>
	<key>mutableSpecifierPressure</key>
	<string>buttonViaFramework</string>
	<key>stackStageTension</key>
	<string>chapterActivityOrigin</string>
	<key>synchronousRiverpodInterval</key>
	<string>coordinatorContainSingleton</string>
</dict>
</plist>
