<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentOrVar</key>
	<string>storageFunctionPressure</string>
	<key>commonCaptionSaturation</key>
	<string>offsetAwayVar</string>
	<key>groupNumberOffset</key>
	<string>radiusBesideInterpreter</string>
	<key>nibAndForm</key>
	<string>integerAwayMode</string>
	<key>primaryToolTop</key>
	<string>widgetValueMode</string>
	<key>routerOrJob</key>
	<string>lazyMethodFrequency</string>
	<key>techniqueCycleShape</key>
	<string>loopAwayMethod</string>
	<key>topicVersusFlyweight</key>
	<string>nibAboutState</string>
	<key>transitionTaskDirection</key>
	<string>synchronousOffsetSkewx</string>
</dict>
</plist>
