<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderParamMomentum</key>
	<string>requestViaProxy</string>
	<key>featureActionRotation</key>
	<string>prismaticManagerFormat</string>
	<key>offsetMethodOrientation</key>
	<string>cycleStrategySkewx</string>
	<key>projectionMementoBehavior</key>
	<string>mediaqueryNearMode</string>
	<key>sliderCycleLocation</key>
	<string>stepAdapterResponse</string>
	<key>spineVisitorOrigin</key>
	<string>cupertinoCycleEdge</string>
	<key>transitionParamVelocity</key>
	<string>metadataMediatorVisibility</string>
	<key>viewWithoutDecorator</key>
	<string>globalCharacterTop</string>
</dict>
</plist>
