<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarNumberSize</key>
	<string>futureInOperation</string>
	<key>blocModeCenter</key>
	<string>assetThanProxy</string>
	<key>frameOrOperation</key>
	<string>specifyDelegateSpacing</string>
	<key>geometricExceptionVelocity</key>
	<string>titleChainAlignment</string>
	<key>kernelParamSkewx</key>
	<string>alphaKindIndex</string>
	<key>listviewWorkResponse</key>
	<string>durationTaskForce</string>
	<key>rowStateDirection</key>
	<string>radiusByStrategy</string>
	<key>transformerDespitePhase</key>
	<string>specifyNotifierFlags</string>
	<key>vectorBridgeMargin</key>
	<string>singletonVisitorTag</string>
</dict>
</plist>
