<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseIncludeMode</key>
	<string>playbackMementoBound</string>
	<key>fusedGrayscaleVelocity</key>
	<string>constraintOperationTheme</string>
	<key>interactiveCompositionBottom</key>
	<string>frameBesideBridge</string>
	<key>presenterTypeTag</key>
	<string>capsuleAtChain</string>
	<key>semanticReductionPressure</key>
	<string>touchPerFlyweight</string>
	<key>skirtOperationCount</key>
	<string>responseBeyondBridge</string>
	<key>streamMementoCenter</key>
	<string>usageAtType</string>
	<key>swiftWithNumber</key>
	<string>bufferParameterState</string>
	<key>viewIncludeStructure</key>
	<string>rapidMultiplicationTop</string>
</dict>
</plist>
