<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directCatalystFeedback</key>
	<string>effectLevelCount</string>
	<key>interfaceAmongMethod</key>
	<string>gateScopeForce</string>
	<key>nodeInBuffer</key>
	<string>concurrentMethodEdge</string>
	<key>storagePatternSaturation</key>
	<string>gestureTierDelay</string>
</dict>
</plist>
