<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertContextFormat</key>
	<string>transformerChainCount</string>
	<key>composableSymbolAcceleration</key>
	<string>heapLayerCenter</string>
	<key>extensionAlongType</key>
	<string>roleBufferTransparency</string>
	<key>extensionUntilSystem</key>
	<string>descriptionLikeFramework</string>
	<key>pageviewTierPosition</key>
	<string>opaqueExpandedFlags</string>
	<key>topicParameterKind</key>
	<string>chapterContainContext</string>
</dict>
</plist>
