<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocIncludeVar</key>
	<string>originalEffectAppearance</string>
	<key>borderProxyPressure</key>
	<string>projectTempleCenter</string>
	<key>diffableSessionKind</key>
	<string>containerOfDecorator</string>
	<key>enabledNavigatorHue</key>
	<string>beginnerTableOffset</string>
	<key>listenerTypeContrast</key>
	<string>layoutAsStyle</string>
	<key>mutableRouterTail</key>
	<string>dynamicGramFlags</string>
	<key>particleLevelTension</key>
	<string>referenceMediatorStyle</string>
	<key>publicMethodRight</key>
	<string>fusedStreamAlignment</string>
	<key>resizableZoneOpacity</key>
	<string>inactivePositionVelocity</string>
</dict>
</plist>
