<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedDurationAlignment</key>
	<string>metadataAsFunction</string>
	<key>alphaInNumber</key>
	<string>widgetFromCycle</string>
	<key>boxshadowChainVelocity</key>
	<string>compositionAtNumber</string>
	<key>cubitOrComposite</key>
	<string>substantialListenerBottom</string>
	<key>futureSystemSpacing</key>
	<string>behaviorAlongNumber</string>
	<key>mapPerStage</key>
	<string>baseTempleStatus</string>
	<key>materialStreamBrightness</key>
	<string>priorityDuringOperation</string>
	<key>previewAwayLayer</key>
	<string>coordinatorBufferColor</string>
	<key>titleValueVelocity</key>
	<string>variantFormOrigin</string>
	<key>transitionAmongProxy</key>
	<string>symmetricBrushTransparency</string>
</dict>
</plist>
