<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFunctionTag</key>
	<string>staticPlateShape</string>
	<key>bitrateDecoratorIndex</key>
	<string>dependencyNumberCount</string>
	<key>graphNumberStatus</key>
	<string>functionalSegmentAcceleration</string>
	<key>inkwellAtPlatform</key>
	<string>customizedChapterHead</string>
	<key>petFormFlags</key>
	<string>tickerFacadeOffset</string>
	<key>vectorOfParameter</key>
	<string>transitionWithProxy</string>
</dict>
</plist>
