<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerParameterInteraction</key>
	<string>workflowTempleStatus</string>
	<key>masterScopeOffset</key>
	<string>uniqueTransformerMode</string>
	<key>sharedAspectBrightness</key>
	<string>declarativeCatalystCenter</string>
	<key>synchronousScaffoldTension</key>
	<string>transitionLayerTransparency</string>
</dict>
</plist>
