<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTransformerCount</key>
	<string>tablePrototypeDensity</string>
	<key>binaryKindFlags</key>
	<string>mediaOfPhase</string>
	<key>checkboxAroundProxy</key>
	<string>interfaceForMode</string>
	<key>frameLevelShape</key>
	<string>skirtCommandAppearance</string>
	<key>granularAllocatorForce</key>
	<string>autoSizedboxFlags</string>
	<key>loopThroughPlatform</key>
	<string>activityViaFunction</string>
	<key>resultWithoutContext</key>
	<string>accessoryStageResponse</string>
	<key>semanticUsecaseAlignment</key>
	<string>popupParamShade</string>
	<key>ternaryCommandStyle</key>
	<string>operationActionAcceleration</string>
	<key>webCardSpacing</key>
	<string>precisionAmongState</string>
</dict>
</plist>
