<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonFlyweightTop</key>
	<string>tweenAgainstFunction</string>
	<key>constraintShapeScale</key>
	<string>radiusAlongCommand</string>
	<key>criticalFrameDelay</key>
	<string>pinchableSizedboxInteraction</string>
	<key>diversifiedPositionValidation</key>
	<string>transformerOutsideVisitor</string>
	<key>menuThroughProcess</key>
	<string>taskDecoratorInset</string>
	<key>shaderAboutScope</key>
	<string>sliderPatternSkewy</string>
</dict>
</plist>
