<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalPreviewIndex</key>
	<string>routeActionVisible</string>
	<key>radiusVarDuration</key>
	<string>similarTickerVelocity</string>
	<key>requestOrValue</key>
	<string>arithmeticContainParam</string>
	<key>transformerAsValue</key>
	<string>newestFragmentMode</string>
	<key>usecaseMethodVisibility</key>
	<string>vectorViaFlyweight</string>
</dict>
</plist>
