<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnNearVar</key>
	<string>effectActivityStyle</string>
	<key>delicateCallbackAcceleration</key>
	<string>graphOfLayer</string>
	<key>errorBesideCommand</key>
	<string>memberModeDirection</string>
	<key>hashStrategyDirection</key>
	<string>inkwellInKind</string>
	<key>particleLayerShade</key>
	<string>curveVisitorSaturation</string>
	<key>prismaticOptimizerBehavior</key>
	<string>enabledReducerStyle</string>
	<key>tabviewProcessAlignment</key>
	<string>diversifiedCoordinatorBottom</string>
	<key>workflowAsSingleton</key>
	<string>animationFunctionInteraction</string>
</dict>
</plist>
