<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAtValue</key>
	<string>storageCycleDelay</string>
	<key>coordinatorAlongForm</key>
	<string>navigatorActivityCoord</string>
	<key>errorVersusStrategy</key>
	<string>custompaintProxyInteraction</string>
	<key>layoutActivityFlags</key>
	<string>providerCycleInterval</string>
</dict>
</plist>
