<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorPatternTail</key>
	<string>descriptionSinceVisitor</string>
	<key>layoutThanAction</key>
	<string>difficultStreamOrientation</string>
	<key>notificationStrategyShade</key>
	<string>customPresenterLocation</string>
	<key>resolverVarShade</key>
	<string>metadataDespitePrototype</string>
	<key>sceneCycleSkewx</key>
	<string>ignoredRadiusFrequency</string>
	<key>semanticAsyncTint</key>
	<string>roleObserverColor</string>
	<key>sliderExceptShape</key>
	<string>routeAmongProxy</string>
	<key>usecaseModeInterval</key>
	<string>catalystFrameworkType</string>
</dict>
</plist>
