<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureWithCommand</key>
	<string>lossSinceFramework</string>
	<key>controllerTypeMargin</key>
	<string>disabledCapsuleSpacing</string>
	<key>curveOrTier</key>
	<string>descriptorFromComposite</string>
	<key>memberThroughParameter</key>
	<string>logarithmAlongShape</string>
	<key>signAlongActivity</key>
	<string>taskInsideKind</string>
	<key>singletonFlyweightDirection</key>
	<string>diffableStreamOrigin</string>
</dict>
</plist>
