<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constStatefulEdge</key>
	<string>statelessPointOpacity</string>
	<key>entityVariableFeedback</key>
	<string>momentumThroughMode</string>
	<key>listenerForContext</key>
	<string>documentBesidePlatform</string>
	<key>previewWithoutActivity</key>
	<string>scenePatternShape</string>
	<key>radiusTempleRotation</key>
	<string>beginnerAnchorTension</string>
	<key>rapidGrayscaleForce</key>
	<string>oldBulletTension</string>
	<key>referenceOrStyle</key>
	<string>storageTierSpacing</string>
	<key>tickerTypeIndex</key>
	<string>extensionAsPlatform</string>
	<key>typicalIsolatePosition</key>
	<string>navigatorDespiteType</string>
</dict>
</plist>
