<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandContainAdapter</key>
	<string>notificationViaMode</string>
	<key>intuitiveTitleDepth</key>
	<string>repositoryParamHue</string>
	<key>observerAmongSystem</key>
	<string>functionalControllerPadding</string>
	<key>optionCycleCenter</key>
	<string>reusableCharacterColor</string>
</dict>
</plist>
