<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetExceptDecorator</key>
	<string>navigatorJobRotation</string>
	<key>directWidgetSaturation</key>
	<string>inheritedSliderOrientation</string>
	<key>labelAmongStage</key>
	<string>flexibleRectColor</string>
	<key>listviewActionName</key>
	<string>chapterTierAcceleration</string>
	<key>liteTransformerCoord</key>
	<string>concreteModalBrightness</string>
	<key>managerAlongPlatform</key>
	<string>opaqueMediaDirection</string>
	<key>requiredCommandValidation</key>
	<string>previewThroughCommand</string>
	<key>serviceAsEnvironment</key>
	<string>cosineFacadeFrequency</string>
	<key>transitionProcessAppearance</key>
	<string>scrollablePopupPosition</string>
	<key>workflowPrototypeShape</key>
	<string>dependencyObserverBottom</string>
</dict>
</plist>
