<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartThroughStage</key>
	<string>accessibleBuilderRight</string>
	<key>commandFromCommand</key>
	<string>listenerOperationFlags</string>
	<key>containerAroundMode</key>
	<string>viewLikeLayer</string>
	<key>custompaintStageTint</key>
	<string>callbackLikeFacade</string>
	<key>gradientVariableName</key>
	<string>cubitSinceAdapter</string>
	<key>managerInVar</key>
	<string>sequentialStatefulTail</string>
	<key>missionWithoutTask</key>
	<string>subsequentCupertinoCoord</string>
	<key>projectForAdapter</key>
	<string>subscriptionBufferCenter</string>
	<key>substantialExceptionColor</key>
	<string>presenterWorkTail</string>
	<key>titleCycleDistance</key>
	<string>momentumAgainstFunction</string>
</dict>
</plist>
