<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBesideAction</key>
	<string>momentumPatternTail</string>
	<key>aperturePrototypeSpeed</key>
	<string>asyncStyleBorder</string>
	<key>directSegueStatus</key>
	<string>petFromContext</string>
	<key>featureChainStyle</key>
	<string>diversifiedRepositoryContrast</string>
	<key>rowInsideContext</key>
	<string>newestControllerEdge</string>
</dict>
</plist>
