<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerAboutTemple</key>
	<string>themePerWork</string>
	<key>newestExpandedVisible</key>
	<string>completionContainParameter</string>
	<key>subscriptionContainObserver</key>
	<string>difficultTextStyle</string>
</dict>
</plist>
