<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionFormTail</key>
	<string>immediateCaptionTag</string>
	<key>dynamicColumnBottom</key>
	<string>giftCompositeFlags</string>
	<key>newestResourceAcceleration</key>
	<string>histogramActivityVisible</string>
	<key>previewStateInset</key>
	<string>actionViaInterpreter</string>
	<key>resourceVariableSpeed</key>
	<string>gestureStrategyLeft</string>
	<key>respectiveStatelessKind</key>
	<string>animationOfStrategy</string>
	<key>timerAroundFunction</key>
	<string>flexibleButtonVelocity</string>
	<key>transitionChainValidation</key>
	<string>expandedMethodStyle</string>
</dict>
</plist>
