<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanAlphaSkewy</key>
	<string>entityBesideFlyweight</string>
	<key>futureOutsideDecorator</key>
	<string>vectorMethodBorder</string>
	<key>immutableEventDepth</key>
	<string>routeAlongLevel</string>
	<key>layerLevelBorder</key>
	<string>invisiblePositionedRate</string>
	<key>mutableStackVelocity</key>
	<string>tweenJobCenter</string>
	<key>resizableSinkBrightness</key>
	<string>scrollableGetxOpacity</string>
	<key>significantChartKind</key>
	<string>interactorAgainstTask</string>
</dict>
</plist>
