<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerPatternTransparency</key>
	<string>textStructureAppearance</string>
	<key>mobileAxisStyle</key>
	<string>transitionTempleIndex</string>
	<key>movementContextSaturation</key>
	<string>getxScopeDensity</string>
	<key>responseAndVisitor</key>
	<string>stateInterpreterKind</string>
	<key>shaderContextAcceleration</key>
	<string>assetOutsideType</string>
	<key>specifierTaskOffset</key>
	<string>custompaintAroundFacade</string>
	<key>subsequentInterfaceTransparency</key>
	<string>sceneAsStructure</string>
	<key>typicalAccessoryMode</key>
	<string>sliderVersusProcess</string>
</dict>
</plist>
