<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterPatternRotation</key>
	<string>chartDespiteTemple</string>
	<key>expandedModeName</key>
	<string>interactorBesideShape</string>
	<key>gradientSystemFlags</key>
	<string>descriptorDuringSingleton</string>
	<key>methodPatternCenter</key>
	<string>textureParamOffset</string>
</dict>
</plist>
