<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateVarBound</key>
	<string>petSingletonTint</string>
	<key>momentumLikeFramework</key>
	<string>specifyNodeOpacity</string>
	<key>otherHandlerShape</key>
	<string>desktopAsyncColor</string>
	<key>rectJobKind</key>
	<string>richtextAmongCycle</string>
	<key>routerAndAction</key>
	<string>opaqueTransitionCount</string>
	<key>singletonAtVar</key>
	<string>transitionUntilScope</string>
	<key>sliderModeContrast</key>
	<string>logarithmMediatorInterval</string>
	<key>subsequentStatelessLeft</key>
	<string>lostSizeVelocity</string>
</dict>
</plist>
