<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDelegateForce</key>
	<string>keyResponseSize</string>
	<key>curveOrJob</key>
	<string>vectorLayerLeft</string>
	<key>descriptorVersusStrategy</key>
	<string>adaptiveSinkPressure</string>
	<key>disabledSubscriptionFlags</key>
	<string>zoneAtContext</string>
	<key>localizationNumberBehavior</key>
	<string>euclideanAlertKind</string>
	<key>referenceVariableResponse</key>
	<string>assetUntilEnvironment</string>
	<key>requestOfScope</key>
	<string>usecaseProcessDuration</string>
</dict>
</plist>
