<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLabelOrientation</key>
	<string>sliderAroundSystem</string>
	<key>activeStackSkewx</key>
	<string>spotValueVelocity</string>
	<key>agileStatefulHue</key>
	<string>scrollableActivitySpacing</string>
	<key>arithmeticDrawerTheme</key>
	<string>otherRowSpeed</string>
	<key>grainWithoutFlyweight</key>
	<string>numericalTextfieldEdge</string>
	<key>mobileProxyEdge</key>
	<string>baselineFunctionOrigin</string>
	<key>subscriptionVariableState</key>
	<string>channelsAboutLayer</string>
	<key>unactivatedPointFrequency</key>
	<string>mediocreGesturedetectorResponse</string>
</dict>
</plist>
