<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStructureCoord</key>
	<string>streamAsStage</string>
	<key>builderOutsideInterpreter</key>
	<string>brushForTask</string>
	<key>gestureIncludeTemple</key>
	<string>positionAboutLayer</string>
	<key>interactiveZoneSpacing</key>
	<string>descriptionThroughBuffer</string>
	<key>positionedPerScope</key>
	<string>reusableUnarySkewy</string>
	<key>resourceEnvironmentPosition</key>
	<string>logSingletonFlags</string>
	<key>standaloneRowSkewy</key>
	<string>scaleStyleDirection</string>
</dict>
</plist>
