<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAboutComposite</key>
	<string>overlayAdapterTag</string>
	<key>effectCompositeMargin</key>
	<string>progressbarFunctionType</string>
	<key>graphAtVariable</key>
	<string>workflowStructureKind</string>
	<key>hierarchicalNibCount</key>
	<string>sharedDelegateDistance</string>
	<key>painterEnvironmentVisible</key>
	<string>delegateMethodScale</string>
	<key>secondMenuFrequency</key>
	<string>notifierNumberSpeed</string>
	<key>storeLevelContrast</key>
	<string>pointVarSpacing</string>
	<key>visibleThemeAppearance</key>
	<string>grainSystemTail</string>
	<key>webStorageInteraction</key>
	<string>reducerAlongMode</string>
</dict>
</plist>
