<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackOrChain</key>
	<string>observerParamOffset</string>
	<key>crucialCubitInset</key>
	<string>originalActionFeedback</string>
	<key>immutableStorageDirection</key>
	<string>responseLikeStage</string>
	<key>managerTempleMomentum</key>
	<string>channelAsVariable</string>
</dict>
</plist>
