<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineActionPosition</key>
	<string>resolverActionVisibility</string>
	<key>difficultUtilSkewx</key>
	<string>popupAroundLayer</string>
	<key>documentPlatformOffset</key>
	<string>temporaryHashFlags</string>
	<key>resolverAboutInterpreter</key>
	<string>slashInterpreterSize</string>
	<key>smallInteractorDirection</key>
	<string>assetFrameworkPosition</string>
	<key>statelessExceptionColor</key>
	<string>taskChainValidation</string>
	<key>ternaryThroughFlyweight</key>
	<string>exceptionDespiteForm</string>
	<key>textureVariableLocation</key>
	<string>effectAndWork</string>
</dict>
</plist>
