<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePreviewOrigin</key>
	<string>flexibleActionSpeed</string>
	<key>crucialContainerOpacity</key>
	<string>documentStateOrientation</string>
	<key>dimensionBufferRotation</key>
	<string>indicatorOperationTransparency</string>
	<key>gesturedetectorAtDecorator</key>
	<string>variantFacadeFrequency</string>
	<key>gramAmongWork</key>
	<string>associatedStampBehavior</string>
	<key>musicEnvironmentBound</key>
	<string>sophisticatedTextureLocation</string>
	<key>sizeAsState</key>
	<string>statefulStreamSkewy</string>
	<key>spineTierCount</key>
	<string>oldResponseShade</string>
</dict>
</plist>
