<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedRectSkewx</key>
	<string>threadAtValue</string>
	<key>brushSinceParam</key>
	<string>handlerUntilScope</string>
	<key>capacitiesStructureBound</key>
	<string>robustTableDepth</string>
	<key>groupUntilWork</key>
	<string>completerExceptStructure</string>
	<key>missionMementoLocation</key>
	<string>bulletCompositeDirection</string>
	<key>modulusInsideScope</key>
	<string>desktopSpineRate</string>
	<key>multiParticleRate</key>
	<string>gridviewTaskPosition</string>
	<key>parallelUnaryRight</key>
	<string>vectorAwayProcess</string>
	<key>responsiveBlocCenter</key>
	<string>mediocreDecorationCenter</string>
	<key>significantMarginInterval</key>
	<string>documentBeyondVar</string>
</dict>
</plist>
