<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorPatternResponse</key>
	<string>painterIncludeJob</string>
	<key>denseConstraintSize</key>
	<string>reducerProcessScale</string>
	<key>ephemeralSensorRate</key>
	<string>checkboxAndFacade</string>
	<key>gradientMediatorInterval</key>
	<string>positionedNearType</string>
	<key>grainTypePadding</key>
	<string>persistentSingletonCount</string>
	<key>protectedContractionFeedback</key>
	<string>optionContainState</string>
</dict>
</plist>
