<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousPriorityCoord</key>
	<string>cursorVersusSingleton</string>
	<key>gramOrContext</key>
	<string>lossOrMode</string>
	<key>materialMethodOrigin</key>
	<string>sizeJobForce</string>
	<key>missedRowContrast</key>
	<string>greatRemainderBound</string>
	<key>missionFormSpacing</key>
	<string>geometricConstraintTransparency</string>
	<key>newestResolverTop</key>
	<string>inheritedParticleContrast</string>
	<key>particleChainLocation</key>
	<string>tabviewBufferFrequency</string>
	<key>queueOutsideForm</key>
	<string>missionDecoratorIndex</string>
	<key>slashLayerDirection</key>
	<string>labelChainType</string>
	<key>utilOperationDelay</key>
	<string>cubitAmongOperation</string>
</dict>
</plist>
