<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFacadePosition</key>
	<string>disparateNavigationAppearance</string>
	<key>storageContextRate</key>
	<string>semanticsOrInterpreter</string>
	<key>substantialCallbackForce</key>
	<string>timerChainLeft</string>
	<key>textureAtTask</key>
	<string>stepPerVar</string>
</dict>
</plist>
