<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocOrLevel</key>
	<string>sampleSingletonOrigin</string>
	<key>grayscaleWithCycle</key>
	<string>lazyGridDirection</string>
	<key>imperativeGrayscaleCoord</key>
	<string>storeMethodOpacity</string>
	<key>interfaceBesideSystem</key>
	<string>transitionAgainstWork</string>
	<key>mapInsideAdapter</key>
	<string>ignoredPriorityTag</string>
	<key>mutableSizeDistance</key>
	<string>movementAlongCommand</string>
	<key>particleStageValidation</key>
	<string>agileNormDensity</string>
	<key>usecaseOrMode</key>
	<string>playbackBeyondEnvironment</string>
</dict>
</plist>
