<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionThanStrategy</key>
	<string>viewAboutParam</string>
	<key>deferredTopicTheme</key>
	<string>deferredCharacterDelay</string>
	<key>delegateBufferDelay</key>
	<string>materialKernelBound</string>
	<key>globalWorkflowCount</key>
	<string>symmetricSensorShape</string>
	<key>managerFunctionSpeed</key>
	<string>intermediateBufferShape</string>
	<key>resultContainJob</key>
	<string>descriptionTaskFlags</string>
	<key>sizedboxSinceLevel</key>
	<string>richtextAgainstParameter</string>
	<key>smallAspectratioHue</key>
	<string>normalTextTail</string>
</dict>
</plist>
