<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertContainSystem</key>
	<string>sensorInMemento</string>
	<key>descriptionStyleLocation</key>
	<string>geometricModalTransparency</string>
	<key>difficultCheckboxEdge</key>
	<string>handlerNumberState</string>
	<key>eagerStampColor</key>
	<string>queueFormMargin</string>
	<key>labelByMemento</key>
	<string>modulusAndPrototype</string>
	<key>vectorFacadePosition</key>
	<string>constraintBeyondObserver</string>
	<key>widgetAsAction</key>
	<string>declarativeIndicatorTop</string>
</dict>
</plist>
