<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetExceptTier</key>
	<string>sliderPhaseFeedback</string>
	<key>cycleCycleTension</key>
	<string>autoSubpixelSkewy</string>
	<key>factoryProcessFlags</key>
	<string>hardTimerTheme</string>
	<key>gesturedetectorCommandResponse</key>
	<string>callbackTierSize</string>
	<key>globalNavigatorStatus</key>
	<string>unactivatedCurveRotation</string>
	<key>kernelCommandVisible</key>
	<string>sinkActivitySpeed</string>
	<key>mobileShapeAppearance</key>
	<string>interactorAtNumber</string>
	<key>particleTempleAlignment</key>
	<string>configurationThanStructure</string>
	<key>singleRequestShape</key>
	<string>bufferViaProcess</string>
	<key>statePerFacade</key>
	<string>largeLayoutTransparency</string>
</dict>
</plist>
