<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellBufferLeft</key>
	<string>storeVarRight</string>
	<key>dialogsOrEnvironment</key>
	<string>storyboardTypeTail</string>
	<key>extensionSingletonFormat</key>
	<string>gesturedetectorTypeStyle</string>
	<key>loopVarVisible</key>
	<string>inkwellAwayNumber</string>
	<key>methodViaParameter</key>
	<string>reducerOfStrategy</string>
	<key>resizableRequestType</key>
	<string>uniquePositionedAcceleration</string>
</dict>
</plist>
