<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleActionShape</key>
	<string>reusableInteractorDepth</string>
	<key>commandThanDecorator</key>
	<string>stackProxyBound</string>
	<key>expandedFrameworkAppearance</key>
	<string>methodAtProcess</string>
	<key>grayscaleWorkFormat</key>
	<string>beginnerWorkflowCount</string>
	<key>opaqueActivitySkewx</key>
	<string>decorationNumberLeft</string>
	<key>resourceBridgeCoord</key>
	<string>appbarDespiteParam</string>
	<key>stampStructureMargin</key>
	<string>semanticContainerDistance</string>
	<key>statefulCompletionScale</key>
	<string>animationTaskStyle</string>
	<key>substantialReducerDistance</key>
	<string>observerOutsideTemple</string>
	<key>timerTierFlags</key>
	<string>navigationSystemTheme</string>
</dict>
</plist>
