<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicStoreLeft</key>
	<string>playbackKindTop</string>
	<key>dependencyWorkDepth</key>
	<string>advancedFutureInteraction</string>
	<key>discardedSizedboxSaturation</key>
	<string>presenterVariableTag</string>
	<key>diversifiedToolSkewy</key>
	<string>requiredInjectionCount</string>
	<key>entityBeyondStyle</key>
	<string>interfacePerVisitor</string>
	<key>subtleOverlayTransparency</key>
	<string>mobileAlongType</string>
</dict>
</plist>
