<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCycleAcceleration</key>
	<string>playbackAmongType</string>
	<key>axisFromKind</key>
	<string>dynamicNavigatorSpacing</string>
	<key>constraintVariableFormat</key>
	<string>subpixelThanFlyweight</string>
	<key>controllerForOperation</key>
	<string>hierarchicalRouterSpeed</string>
	<key>listenerMediatorVisible</key>
	<string>localizationPerPhase</string>
	<key>radioUntilInterpreter</key>
	<string>materialOfState</string>
	<key>statefulDescriptorAppearance</key>
	<string>desktopStorageDuration</string>
</dict>
</plist>
