<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncShapeLeft</key>
	<string>webModelDuration</string>
	<key>clipperAboutCycle</key>
	<string>viewFormVisibility</string>
	<key>finalPromiseTag</key>
	<string>localizationAgainstProxy</string>
	<key>layerLevelBottom</key>
	<string>gridPrototypeVisibility</string>
	<key>layerStructureSaturation</key>
	<string>largeHashCenter</string>
	<key>layoutWithoutFacade</key>
	<string>canvasParameterDuration</string>
	<key>localPresenterStatus</key>
	<string>autoClipperDuration</string>
	<key>sortedCapsuleOrigin</key>
	<string>currentBitrateVelocity</string>
	<key>subtleLocalizationBehavior</key>
	<string>publicZoneName</string>
	<key>taskJobContrast</key>
	<string>widgetAmongAdapter</string>
</dict>
</plist>
