<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTypeCount</key>
	<string>denseRowMomentum</string>
	<key>chapterIncludeVisitor</key>
	<string>cartesianGridSpeed</string>
	<key>retainedCommandDepth</key>
	<string>effectOutsideTemple</string>
	<key>spriteWithoutJob</key>
	<string>canvasDuringWork</string>
	<key>symmetricNibTail</key>
	<string>interactorVarStatus</string>
	<key>tensorConsumerState</key>
	<string>remainderScopeLocation</string>
</dict>
</plist>
