<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineDespiteShape</key>
	<string>dialogsFlyweightScale</string>
	<key>descriptionWithMethod</key>
	<string>builderFlyweightSize</string>
	<key>documentCompositeOrigin</key>
	<string>staticTabbarRight</string>
	<key>normalMenuLeft</key>
	<string>shaderUntilAction</string>
	<key>routerNearComposite</key>
	<string>segmentExceptMode</string>
	<key>scenePlatformRate</key>
	<string>entityInterpreterAcceleration</string>
	<key>similarLayoutFeedback</key>
	<string>delegateNumberRate</string>
	<key>statelessStateMomentum</key>
	<string>delegateProcessMomentum</string>
	<key>staticPriorityStyle</key>
	<string>disabledTernaryLocation</string>
	<key>topicPerSystem</key>
	<string>musicModeLeft</string>
</dict>
</plist>
