<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constOptionStyle</key>
	<string>actionFacadeStyle</string>
	<key>giftOrDecorator</key>
	<string>concreteMarginBehavior</string>
	<key>marginAroundBuffer</key>
	<string>webWorkflowFeedback</string>
	<key>textDespiteParam</key>
	<string>entityStrategySpacing</string>
	<key>unsortedSingletonInterval</key>
	<string>flexTierTension</string>
	<key>unsortedUtilInteraction</key>
	<string>topicCompositeLeft</string>
</dict>
</plist>
