<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionStreamContrast</key>
	<string>rowWithoutOperation</string>
	<key>ephemeralOverlayDistance</key>
	<string>axisThanChain</string>
	<key>instructionFormCoord</key>
	<string>modalThroughPlatform</string>
	<key>seamlessManagerDirection</key>
	<string>binaryExceptSingleton</string>
	<key>signWithForm</key>
	<string>coordinatorAmongStyle</string>
	<key>sineFlyweightHue</key>
	<string>aperturePatternKind</string>
	<key>textFrameworkHue</key>
	<string>errorBridgeDensity</string>
</dict>
</plist>
