<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationIncludeProxy</key>
	<string>providerProxyAlignment</string>
	<key>baseEnvironmentStatus</key>
	<string>signOfBridge</string>
	<key>bufferProxyOrigin</key>
	<string>descriptionTaskSkewx</string>
	<key>controllerDuringProxy</key>
	<string>taskDespiteOperation</string>
	<key>descriptorLikeAdapter</key>
	<string>robustSliderShape</string>
	<key>iconAlongObserver</key>
	<string>singletonThanContext</string>
</dict>
</plist>
