<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentCapsuleAppearance</key>
	<string>capacitiesFunctionTail</string>
	<key>gradientFrameworkDensity</key>
	<string>sliderLevelForce</string>
	<key>interfaceOutsideMethod</key>
	<string>sharedScreenTop</string>
	<key>relationalGridRight</key>
	<string>collectionParameterOffset</string>
	<key>roleCommandVisibility</key>
	<string>interpolationAroundKind</string>
	<key>routerByEnvironment</key>
	<string>sizeAtFramework</string>
</dict>
</plist>
