<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnActionFlags</key>
	<string>typicalAwaitForce</string>
	<key>commandVisitorVelocity</key>
	<string>singletonFrameworkShape</string>
	<key>descriptionStageOrientation</key>
	<string>scaffoldVariableOrientation</string>
	<key>smallRowTension</key>
	<string>errorFacadeDepth</string>
</dict>
</plist>
