<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocByFlyweight</key>
	<string>usecaseDuringComposite</string>
	<key>builderAdapterMode</key>
	<string>usedExceptionHue</string>
	<key>gestureCommandValidation</key>
	<string>lossBesidePhase</string>
	<key>groupTierShape</key>
	<string>nativeLabelResponse</string>
	<key>previewThroughVar</key>
	<string>observerAdapterBorder</string>
	<key>stampValueDirection</key>
	<string>responseIncludePrototype</string>
</dict>
</plist>
