<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryIncludeStructure</key>
	<string>featureMementoKind</string>
	<key>accordionHashBrightness</key>
	<string>sinkAtValue</string>
	<key>declarativeFactoryCoord</key>
	<string>scaleDuringFramework</string>
	<key>errorCompositeHead</key>
	<string>unsortedSemanticsPadding</string>
	<key>frameDecoratorTail</key>
	<string>modelThanObserver</string>
	<key>gridviewDespiteBuffer</key>
	<string>activatedSliderRight</string>
	<key>normalNavigatorTint</key>
	<string>listviewAroundMemento</string>
	<key>sliderAndLevel</key>
	<string>standaloneHeapIndex</string>
</dict>
</plist>
