<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanFactorySize</key>
	<string>opaqueCupertinoDirection</string>
	<key>numericalHandlerSkewy</key>
	<string>interpolationPatternEdge</string>
	<key>roleBeyondAction</key>
	<string>hashStyleDepth</string>
	<key>routeThanFunction</key>
	<string>managerProcessInterval</string>
	<key>unaryAsMemento</key>
	<string>protectedTimerShape</string>
	<key>utilProxyResponse</key>
	<string>modelFlyweightFrequency</string>
	<key>workflowAwayStyle</key>
	<string>curveAmongForm</string>
</dict>
</plist>
