<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferNearProxy</key>
	<string>isolateAgainstForm</string>
	<key>documentWorkSkewy</key>
	<string>switchThroughStrategy</string>
	<key>effectAsNumber</key>
	<string>reusableCupertinoAlignment</string>
	<key>graphParameterTag</key>
	<string>symmetricStorageDensity</string>
	<key>hashOfMode</key>
	<string>specifyChannelHead</string>
	<key>referenceChainSpeed</key>
	<string>boxInTask</string>
	<key>topicAroundPhase</key>
	<string>extensionAndAction</string>
</dict>
</plist>
