<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellBesideChain</key>
	<string>advancedInterfaceColor</string>
	<key>desktopRequestDistance</key>
	<string>gesturedetectorCompositeRight</string>
	<key>interactorTemplePressure</key>
	<string>localizationSystemRate</string>
	<key>largeCommandPressure</key>
	<string>missedGridHue</string>
	<key>stampAmongMediator</key>
	<string>concretePromiseContrast</string>
	<key>textureVersusKind</key>
	<string>priorWorkflowTransparency</string>
	<key>viewAtTemple</key>
	<string>plateDespiteActivity</string>
</dict>
</plist>
