<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveButtonRight</key>
	<string>inheritedImageAppearance</string>
	<key>arithmeticNumberSpeed</key>
	<string>enabledExtensionName</string>
	<key>equalizationCommandMode</key>
	<string>consultativeListenerDelay</string>
	<key>gestureAlongStage</key>
	<string>disparateGiftOrientation</string>
	<key>injectionViaWork</key>
	<string>resultObserverFrequency</string>
	<key>mediocreLoopVisible</key>
	<string>directlyExponentInteraction</string>
	<key>normFunctionOrigin</key>
	<string>storeScopeAppearance</string>
	<key>requiredAnchorRight</key>
	<string>routeExceptAction</string>
	<key>screenFacadeRate</key>
	<string>crucialCompositionFlags</string>
</dict>
</plist>
