<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterScopeRotation</key>
	<string>draggableControllerForce</string>
	<key>cycleInsideParameter</key>
	<string>awaitCompositeLocation</string>
	<key>immutableNotificationInteraction</key>
	<string>callbackIncludeBridge</string>
	<key>localizationPlatformType</key>
	<string>comprehensiveCharacterOffset</string>
	<key>queueEnvironmentPadding</key>
	<string>subsequentMaterialRate</string>
	<key>rectBufferMargin</key>
	<string>tabbarThroughFunction</string>
	<key>relationalDimensionDistance</key>
	<string>optionInContext</string>
	<key>resultAroundStage</key>
	<string>directlyOffsetVisible</string>
	<key>shaderMementoFeedback</key>
	<string>cosineTaskAlignment</string>
	<key>statelessPlaybackPosition</key>
	<string>intuitiveGateInteraction</string>
</dict>
</plist>
