<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticKernelMargin</key>
	<string>storageDuringPlatform</string>
	<key>exceptionFlyweightVelocity</key>
	<string>greatActionTension</string>
	<key>opaqueModelDuration</key>
	<string>navigationAdapterOrigin</string>
	<key>taskAdapterEdge</key>
	<string>grayscaleShapeFlags</string>
	<key>toolLayerForce</key>
	<string>graphPhaseAcceleration</string>
</dict>
</plist>
