<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLayerTransparency</key>
	<string>matrixCycleBound</string>
	<key>managerAroundPhase</key>
	<string>groupPhaseRate</string>
	<key>mediocreAnchorSpeed</key>
	<string>commonFeatureRotation</string>
	<key>plateAroundStyle</key>
	<string>sizedboxContextSpacing</string>
	<key>previewStageMomentum</key>
	<string>cartesianChartDistance</string>
	<key>priorityValueContrast</key>
	<string>errorBeyondMediator</string>
	<key>sceneAndValue</key>
	<string>requestScopeDirection</string>
	<key>timerThanWork</key>
	<string>resizableConfigurationMode</string>
</dict>
</plist>
