<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionCubitValidation</key>
	<string>diversifiedClipperTheme</string>
	<key>optimizerExceptForm</key>
	<string>themeSystemStyle</string>
	<key>projectNearVisitor</key>
	<string>storeFunctionTransparency</string>
	<key>textFlyweightSpeed</key>
	<string>zoneOfPattern</string>
</dict>
</plist>
