<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerProxyBound</key>
	<string>rectIncludeTemple</string>
	<key>declarativeAnimatedcontainerTag</key>
	<string>labelNearObserver</string>
	<key>documentStageInterval</key>
	<string>hashNumberMomentum</string>
	<key>gemVersusFramework</key>
	<string>popupLayerVelocity</string>
	<key>grayscaleTypeValidation</key>
	<string>requestSinceLevel</string>
	<key>inkwellAndContext</key>
	<string>seamlessRichtextShape</string>
	<key>providerValueForce</key>
	<string>blocActivityFeedback</string>
	<key>semanticsTaskMomentum</key>
	<string>particleByVar</string>
	<key>shaderStrategySaturation</key>
	<string>oldInterfaceOrientation</string>
</dict>
</plist>
