<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCommandIndex</key>
	<string>positionedOutsideVisitor</string>
	<key>currentWidgetFormat</key>
	<string>composablePetScale</string>
	<key>variantFormTail</key>
	<string>columnAroundTemple</string>
</dict>
</plist>
