<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonStackInterval</key>
	<string>hyperbolicQueryPressure</string>
	<key>intensityOperationDepth</key>
	<string>momentumInterpreterTail</string>
	<key>temporaryCaptionVisible</key>
	<string>normSinceLayer</string>
	<key>transitionSinceChain</key>
	<string>checkboxAroundTier</string>
</dict>
</plist>
