<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetPerLevel</key>
	<string>sampleForValue</string>
	<key>certificateDespiteProxy</key>
	<string>gridviewLevelFlags</string>
	<key>constraintLikeObserver</key>
	<string>dialogsWithoutParam</string>
	<key>explicitObserverRight</key>
	<string>cubitBufferTop</string>
	<key>publicInterfaceColor</key>
	<string>ternaryPatternVisible</string>
	<key>screenThanWork</key>
	<string>crudeApertureOpacity</string>
	<key>slashAmongVisitor</key>
	<string>progressbarVisitorType</string>
	<key>statefulBeyondVariable</key>
	<string>exponentOrWork</string>
	<key>titleDuringStyle</key>
	<string>animatedThemeDistance</string>
</dict>
</plist>
