<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencySinceMethod</key>
	<string>precisionSystemTransparency</string>
	<key>draggableGiftRotation</key>
	<string>decorationIncludePrototype</string>
	<key>ignoredGroupStatus</key>
	<string>compositionalAxisKind</string>
	<key>mutableRemainderPadding</key>
	<string>layoutWorkShade</string>
	<key>positionBridgeSize</key>
	<string>documentUntilKind</string>
	<key>positionPerProcess</key>
	<string>scaleModeCoord</string>
	<key>statefulPatternMomentum</key>
	<string>interfaceViaEnvironment</string>
</dict>
</plist>
