<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerAndPattern</key>
	<string>mediocreControllerMomentum</string>
	<key>listenerShapeTheme</key>
	<string>multiControllerBorder</string>
	<key>localSegmentHead</key>
	<string>spotChainSkewy</string>
	<key>resilientDecorationMomentum</key>
	<string>tangentParameterTop</string>
	<key>responsiveBaseCount</key>
	<string>explicitResourceDistance</string>
	<key>symbolSingletonMode</key>
	<string>segmentViaPhase</string>
</dict>
</plist>
