<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAwayPhase</key>
	<string>subpixelObserverTag</string>
	<key>fragmentAsStructure</key>
	<string>statefulProviderForce</string>
	<key>graphVariableSkewx</key>
	<string>previewMementoBehavior</string>
	<key>nativeAccessoryPosition</key>
	<string>transitionViaEnvironment</string>
	<key>radiusActivityFeedback</key>
	<string>geometricGraphSaturation</string>
	<key>responseThroughCycle</key>
	<string>vectorByBridge</string>
</dict>
</plist>
