<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAndMemento</key>
	<string>composableScreenTop</string>
	<key>desktopUtilColor</key>
	<string>cursorFromPattern</string>
	<key>explicitAnchorCoord</key>
	<string>oldAsyncLocation</string>
	<key>gemTempleInterval</key>
	<string>cacheOutsideObserver</string>
	<key>missedNavigatorDelay</key>
	<string>canvasProxyContrast</string>
	<key>textureLevelShape</key>
	<string>accessoryExceptEnvironment</string>
	<key>widgetContextFormat</key>
	<string>fixedBuilderSize</string>
</dict>
</plist>
