<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredFrameForce</key>
	<string>swiftAgainstPhase</string>
	<key>descriptionWithAdapter</key>
	<string>captionInterpreterSkewx</string>
	<key>documentIncludeScope</key>
	<string>radioJobSize</string>
	<key>localizationAndLevel</key>
	<string>missionExceptComposite</string>
	<key>monsterFlyweightTag</key>
	<string>sophisticatedGraphicMode</string>
	<key>persistentSessionSkewy</key>
	<string>greatCubitFrequency</string>
	<key>remainderAgainstStrategy</key>
	<string>logarithmViaForm</string>
	<key>singletonWorkContrast</key>
	<string>boxStructureTension</string>
	<key>storyboardVisitorShade</key>
	<string>builderDespiteLayer</string>
	<key>toolLikeType</key>
	<string>cubitWithScope</string>
</dict>
</plist>
