<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTaskFormat</key>
	<string>aspectSinceKind</string>
	<key>buttonFacadeTint</key>
	<string>disparateIntensityAcceleration</string>
	<key>challengeContainPrototype</key>
	<string>movementAgainstFacade</string>
	<key>exceptionBridgeCoord</key>
	<string>durationActivitySpeed</string>
	<key>lostOptimizerHead</key>
	<string>gridviewCommandInteraction</string>
	<key>temporaryAnimationCount</key>
	<string>timerFrameworkSpeed</string>
	<key>viewFromLevel</key>
	<string>challengeBridgeName</string>
</dict>
</plist>
