<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTempleCenter</key>
	<string>rapidCallbackBound</string>
	<key>checklistFlyweightMargin</key>
	<string>precisionSystemTop</string>
	<key>completerAlongPlatform</key>
	<string>controllerFrameworkPosition</string>
	<key>typicalCommandStyle</key>
	<string>transitionShapeFrequency</string>
</dict>
</plist>
