<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTimerAppearance</key>
	<string>histogramTempleIndex</string>
	<key>coordinatorDuringStructure</key>
	<string>chapterAwayFlyweight</string>
	<key>largeCursorOffset</key>
	<string>operationBridgeScale</string>
	<key>protocolSystemTag</key>
	<string>stampWithoutTier</string>
</dict>
</plist>
