<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileIntensityKind</key>
	<string>specifierPerKind</string>
	<key>asyncStyleDirection</key>
	<string>catalystMethodDepth</string>
	<key>cartesianObserverRight</key>
	<string>buttonAwayVisitor</string>
	<key>chapterMediatorOpacity</key>
	<string>backwardWidgetDistance</string>
	<key>hardNibInteraction</key>
	<string>optionBesideShape</string>
	<key>heroNearJob</key>
	<string>fragmentStageContrast</string>
	<key>tickerDecoratorEdge</key>
	<string>listenerBesideMethod</string>
</dict>
</plist>
