<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCompleterType</key>
	<string>cartesianInstructionStyle</string>
	<key>asyncAlertBehavior</key>
	<string>beginnerMethodInterval</string>
	<key>brushScopePressure</key>
	<string>particleViaBuffer</string>
	<key>chapterSingletonOrientation</key>
	<string>zoneBeyondProcess</string>
	<key>documentContainFacade</key>
	<string>finalCosineScale</string>
	<key>materialRectCoord</key>
	<string>delicateChannelDensity</string>
	<key>rapidTextCoord</key>
	<string>webVariantTension</string>
	<key>requiredSliderSaturation</key>
	<string>greatLoopLocation</string>
	<key>retainedPriorityAppearance</key>
	<string>intensityWithoutAction</string>
</dict>
</plist>
