<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentStyleDepth</key>
	<string>granularObserverOpacity</string>
	<key>localizationStageSpeed</key>
	<string>storeCompositeInterval</string>
	<key>modelBesideParam</key>
	<string>typicalTabviewOpacity</string>
	<key>monsterOrFacade</key>
	<string>keyChapterSkewy</string>
	<key>scaffoldContainMemento</key>
	<string>bufferAroundCommand</string>
	<key>sensorThroughForm</key>
	<string>descriptorTempleOpacity</string>
	<key>serviceModeTheme</key>
	<string>usageOrPlatform</string>
	<key>symbolThroughBridge</key>
	<string>routeFacadeCoord</string>
	<key>temporaryBoxshadowDensity</key>
	<string>blocContainForm</string>
	<key>temporaryViewRotation</key>
	<string>fragmentJobMode</string>
</dict>
</plist>
