<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPhaseDelay</key>
	<string>rowSystemRotation</string>
	<key>eventStructureName</key>
	<string>cartesianSignatureFlags</string>
	<key>primaryGridBottom</key>
	<string>typicalLocalizationScale</string>
	<key>queueSystemColor</key>
	<string>hardGridviewTension</string>
	<key>titleViaWork</key>
	<string>desktopIndicatorOrigin</string>
</dict>
</plist>
