<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferDecoratorSize</key>
	<string>persistentTextIndex</string>
	<key>composableEffectColor</key>
	<string>normalNavigationOrigin</string>
	<key>comprehensiveLayoutOpacity</key>
	<string>streamEnvironmentShape</string>
	<key>extensionAndVariable</key>
	<string>localizationDecoratorLeft</string>
	<key>featureStageSkewx</key>
	<string>resultAgainstStage</string>
	<key>largeChapterSkewx</key>
	<string>keyQueueSkewx</string>
	<key>mobxShapeTail</key>
	<string>checkboxThroughParameter</string>
	<key>popupMementoName</key>
	<string>finalMarginSpeed</string>
	<key>sequentialDialogsCoord</key>
	<string>progressbarFacadeMomentum</string>
	<key>statelessBorderPressure</key>
	<string>cycleVersusPlatform</string>
</dict>
</plist>
