<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerExceptActivity</key>
	<string>webCapacitiesBorder</string>
	<key>effectPhaseOrigin</key>
	<string>commandFacadeRight</string>
	<key>fusedTweenTheme</key>
	<string>prevMemberColor</string>
	<key>independentSinkShape</key>
	<string>consumerSinceVisitor</string>
	<key>otherAspectInteraction</key>
	<string>otherEntityStyle</string>
	<key>prismaticMethodInteraction</key>
	<string>functionalTextureType</string>
</dict>
</plist>
