<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushLayerDirection</key>
	<string>labelForValue</string>
	<key>inheritedServiceBehavior</key>
	<string>assetWithMode</string>
	<key>numericalRouteScale</key>
	<string>referenceCycleCenter</string>
	<key>particleStructureOrigin</key>
	<string>animationMediatorTension</string>
	<key>progressbarAgainstPrototype</key>
	<string>injectionActionBottom</string>
	<key>statefulCollectionDirection</key>
	<string>taskShapeResponse</string>
	<key>webResourceStatus</key>
	<string>fixedExceptionSkewy</string>
</dict>
</plist>
