<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedObserverLocation</key>
	<string>overlayCommandCenter</string>
	<key>exceptionLikeSystem</key>
	<string>mutableNavigatorInterval</string>
	<key>graphAdapterInset</key>
	<string>animatedcontainerBufferPosition</string>
	<key>ignoredActivityFeedback</key>
	<string>capsuleLikeParameter</string>
	<key>overlayMementoSaturation</key>
	<string>expandedNearCommand</string>
	<key>persistentFlexCoord</key>
	<string>comprehensiveProviderOrigin</string>
	<key>tabviewAndFacade</key>
	<string>coordinatorParameterColor</string>
	<key>unaryVersusParam</key>
	<string>nodePlatformVisible</string>
</dict>
</plist>
